<div class='upf-stat__number-container'>
  <div class="upf-progress-radial {{type}}
              {{concat 'upf-progress-radial-' size}}
              {{progressValueClass}}">
    <div class='overlay'>
      <span class='upf-stat__icon'>
        {{#if iconClass}}
          <i class='{{iconClass}}'></i>
        {{else if upfIcon}}
          {{upf-icon upfIcon upfIconColor 'thicker'}}
        {{/if}}
      </span>
      <span class='upf-stat__number'>{{number}}</span>
    </div>
  </div>
</div>
<span class='upf-stat__title'>{{title}}</span>
