<div class='upf-stat__number-container'>
  <div class='upf-progress-radial {{radialClass}} {{radialSize}}
              {{progressValueClass}}'>
    <div class='overlay'>
      <span class='upf-stat__icon'>
        <i class='{{iconClass}}'></i>
      </span>
      <span class='upf-stat__number'>{{number}}</span>
    </div>
  </div>
</div>
<span class='upf-stat__title'>{{title}}</span>
