<span class='upf-stat__name'>
  {{name}}

  {{#if icon}}
    <span class='upf-stat__icon' title="{{iconLabel}}">
      {{#if iconUrl}}
        <a href="{{iconUrl}}" target="_blank">
          {{fa-icon icon class=iconClass}}
        </a>
      {{else}}
        {{fa-icon icon class=iconClass}}
      {{/if}}
    </span>
  {{/if}}
</span>

<span class='upf-stat__data{{unless data ' upf-stat__data--null'}}'>{{data}}</span>

{{#if label}}
  <span class="upf-stat__label">{{label}}</span>
{{/if}}
