<Input
  @type="checkbox" @checked={{this.value}} class="upf-checkbox__input"
  id={{concat "unchecked-checkbox-" this.elementId}} disabled={{this.disabled}} />

<label for={{concat "unchecked-checkbox-" this.elementId}}
       class="upf-checkbox__fake-checkbox">
</label>

{{#if this.hasLabel}}
  <span class="upf-checkbox__label">{{yield}}</span>
{{/if}}
