<span class="upf-stat__name">
  {{name}}

  {{#if icon}}
    {{#if (eq iconPlacement "top")}}
      <span class="upf-stat__icon" {{enable-tooltip title=this.iconLabel}}>
        {{#if iconUrl}}
          <a href="{{iconUrl}}" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-{{icon}} {{iconClass}}"></i>
          </a>
        {{else}}
          <i class="fa fa-{{icon}} {{iconClass}}"></i>
        {{/if}}
      </span>
    {{/if}}
  {{/if}}
</span>

<span class={{concat "upf-stat__data " dataClass (unless data " upf-stat__data--null")}}>
  {{data}}

  {{#if icon}}
    {{#if (eq iconPlacement "right")}}
      <span class="upf-stat__icon" {{enable-tooltip title=this.iconLabel}}>
        <i class="fa fa-{{icon}} {{iconClass}}"></i>
      </span>
    {{/if}}
  {{/if}}
</span>

{{#if label}}
  <span class={{concat 'upf-stat__label' (if tooltip '--with-tooltip')}}>
    {{{label}}}
    {{#if tooltip}}
      <OSS::Icon @icon="fa-info-circle" {{enable-tooltip title=tooltip}} />
    {{/if}}
  </span>
{{/if}}