<div class="table-v2__actions">
  <button class="upf-btn upf-btn--default upf-btn--small" {{action "openAvailableColumns"}}>
    <i class="fa fa-plus"></i> &nbsp; Field
  </button>

  {{#if _availableColumnsPanel}}
    <ul class="table-v2__available-columns">
      {{#each _orderedColumns as |column|}}
        <li {{action "toggleColumnVisibility" column}}
            class={{if column.visible "visible"}}>
          {{column.title}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{#sortable-group
  direction="x" model=_columns onChange=(action "reorderColumns") as |group|}}
  <div class="table-v2">
    {{#if hasSelection}}
      <div class="table-v2__column table-v2__column--selection">
        <div class="table-v2__cell table-v2__cell--header">
          {{upf-checkbox value=_allRowsSelected}}
        </div>

        {{#each collection as |item|}}
          <div class="table-v2__cell">
            {{upf-checkbox value=item.selected}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#each _columns as |column|}}
      {{#if column.visible}}
        {{#sortable-item
          classNames="table-v2__column" model=column group=group
          handle=".table-v2__cell--header"}}
          {{#upf-table/cell header=true}}
            {{column.title}}

            <div class="icon-commands">
              <i class="text-size-6 fa fa-filter"></i>
              <i class="text-size-6 fa fa-bars fa-rotate-90"></i>
            </div>
          {{/upf-table/cell}}

          {{#each collection as |item|}}
            {{upf-table/cell
              item=item column=column}}
          {{/each}}
        {{/sortable-item}}
      {{/if}}
    {{/each}}
  </div>
{{/sortable-group}}
