<div class="slider-container">
     <span>{{min}}</span>
     <input type="range" class="slider {{color}}" min={{min}} max={{max}} value={{value}} oninput={{action "onChange" value="target.value"}}>
     <span>{{max}}</span>
</div>
{{value}}
