<ul class="row upf-datatable__actions-header">
  {{#if this.contextualActionsComponent}}
    {{component this.contextualActionsComponent collection=this.collection}}
  {{/if}}

  <li class="upf-datatable__actions-pull-right">
    {{#if this.hasPagination}}
      {{#unless this.isCompact}}
        {{upf-table/pagination currentPage=this.currentPage perPage=this.perPage
                               totalPages=this.totalPages itemTotal=this.itemTotal
                               itemCount=this.itemCount itemName=this.itemName}}
      {{/unless}}
    {{/if}}

    {{#if this.hasSearch}}
      {{expanding-search classNames="margin-left-xx-sm" searchQuery=this._searchQuery
                         placeholder=this.searchInputPlaceholder small=true}}
    {{/if}}
  </li>
</ul>

<table class="upf-datatable__table">
  <thead>
    {{#upf-table/row isHeaderRow=true}}
      {{#if this.hasSelection}}
        {{#unless this.contentChanging}}
          <th width="45px" class="upf-datatable__column upf-datatable__column--unsortable">
            <OSS::Checkbox
              @checked={{this.allRowsSelected}}
              @onChange={{fn (mut this.allRowsSelected) (not this.allRowsSelected)}} />
          </th>
        {{/unless}}
      {{/if}}

      {{#each this._columns as |column|}}
        {{#unless (eq column.visible false)}}
          {{upf-table/header_cell column=column click=(action "onClickHeader" column)}}
        {{/unless}}
      {{/each}}
    {{/upf-table/row}}
  </thead>

  <tbody>
    {{#if this.isLoading}}
      <tr>
        <td colspan={{this._fullSizeColumnColspan}} class="upf-align--center">
          {{loading-state}}
        </td>
      </tr>
    {{else}}
      {{#if this.contentChanging}}
        {{#each this._contentPlaceholder}}
          {{#upf-table/row}}
            <td valign="middle" class="upf-datatable__column upf-datatable__column--locked">
              <div class="skeleton-placeholder"></div>
            </td>
            <td valign="middle" class="upf-datatable__column upf-datatable__column--locked">
              <div class="skeleton-placeholder"></div>
            </td>
          {{/upf-table/row}}
        {{/each}}
      {{else}}
        {{#each collection as |item index|}}
          {{#upf-table/row ref=item action='callOnRowClickCallback'
                           hasPolymorphicColumns=this.hasPolymorphicColumns
                           onRowClick=this.onRowClick}}
            {{#if this.hasSelection}}
              <td class="upf-datatable__column upf-datatable__column--uneditable">
                <OSS::Checkbox
                  @checked={{eq item.selected true}} @onChange={{fn (mut item.selected) (not item.selected)}} />
              </td>
            {{/if}}

            {{#each this._columns as |column|}}
              {{#unless (eq column.visible false)}}
                {{#upf-table/column ref=column editable=column.editable
                                    classNames=column.additionalClasses}}
                  {{#if column.component}}
                    {{component column.component item=item column=column}}
                  {{else}}
                    {{#if (eq column.helper "money")}}
                      {{format-money (get item column.property) (get item column.currency)}}
                    {{else if (eq column.helper "numeric")}}
                      {{format-numeric (get item column.property)}}
                    {{else}}
                      {{#if (and (not (get item column.property)) column.emptyValue)}}
                        <span class="upf-datatable__column--empty-value">
                          {{column.emptyValue}}
                        </span>
                      {{else}}
                        {{get item column.property}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/upf-table/column}}
              {{/unless}}
            {{/each}}
          {{/upf-table/row}}
        {{else}}
          <tr>
            <td colspan={{this._fullSizeColumnColspan}} class="upf-align--center">
              {{yield}}
            </td>
          </tr>
        {{/each}}

        {{#if (and this.hasPagination this.isCompact)}}
          <tr>
            <td colspan={{this._fullSizeColumnColspan}} class="upf-align--right padding-sm">
              {{upf-table/pagination currentPage=this.currentPage perPage=this.perPage
                                     totalPages=this.totalPages itemTotal=this.itemTotal
                                     itemCount=this.itemCount itemName=this.itemName}}
            </td>
          </tr>
        {{/if}}
      {{/if}}
    {{/if}}
  </tbody>
</table>
