<span class='upf-stat__name'>
  {{name}}

  {{#if icon}}
    <span class='upf-stat__icon'>
      {{fa-icon icon class=iconClass}}
    </span>
  {{/if}}
</span>

<span class='upf-stat__data{{dataClass}}'>{{data}}</span>

{{#if label}}
  <span class="upf-stat__label">{{label}}</span>
{{/if}}
