<ul class='row upf-datatable__actions-header'>
  {{#if contextualActionsComponent}}
    {{component contextualActionsComponent collection=collection}}
  {{/if}}

  <li class='upf-datatable__actions-pull-right'>
    {{#if hasToggleableColumns}}
      <a {{action 'toggleDisplayedColumnVisibilityPanel'}}
        class='upf-btn upf-btn--default upf-btn--small upf-link--reset'>
        {{fa-icon 'columns'}}&nbsp;
        {{#if displayedColumnsPanel}}
          {{fa-icon 'caret-up'}}
        {{else}}
          {{fa-icon 'caret-down'}}
        {{/if}}
      </a>
    {{/if}}

    {{#if hasPagination}}
      {{upf-table/pagination currentPage=currentPage perPage=perPage
                             totalPages=totalPages itemTotal=itemTotal
                             itemCount=itemCount itemName=itemName}}
    {{/if}}

    {{#if hasSearch}}
      {{#input-wrapper classNames='upf-datatable__search margin-left-xx-sm'}}
        {{input type='text' class='form-control upf-input' value=_searchQuery
                placeholder=searchInputPlaceholder}}
      {{/input-wrapper}}
    {{/if}}
  </li>
</ul>

<div class="upf-datatable__side-panel
     {{if displayedColumnsPanel 'upf-datatable__side-panel--visible'}}">
  {{#each _columns as |column|}}
    {{#unless column.unhideable}}
      <div class='margin-bottom-sm'>
        {{#upf-checkbox value=column.visible hasLabel=true}}
          <span class='text-color-contrast'>{{column.title}}</span>
        {{/upf-checkbox}}
      </div>
    {{/unless}}
  {{/each}}
</div>

<table class='upf-datatable__table'>
  <thead>
    {{#upf-table/row isHeaderRow=true}}
      {{#if hasSelection}}
        <th width='45px' class='upf-datatable__column upf-datatable__column--unsortable'>
          {{upf-checkbox value=allRowsSelected}}
        </th>
      {{/if}}

      {{#each _columns as |column|}}
        {{#unless (eq column.visible false)}}
          {{upf-table/header_cell column=column
                                  click=(action 'onClickHeader' column)}}
        {{/unless}}
      {{/each}}
    {{/upf-table/row}}
  </thead>

  <tbody>
    {{#if isLoading}}
      <tr>
        <td colspan={{_fullSizeColumnColspan}} class='upf-align--center'>
          {{loading-state}}
        </td>
      </tr>
    {{else}}
      {{#each collection as |item index|}}
        {{#upf-table/row ref=item action='callOnRowClickCallback'
                         onRowClickCallback=onRowClickCallback}}
          {{#if hasSelection}}
            <td class='upf-datatable__column upf-datatable__column--uneditable'>
              {{upf-checkbox value=item.selected}}
            </td>
          {{/if}}

          {{#each _columns as |column|}}
            {{#unless (eq column.visible false)}}
              <td valign='middle' class="upf-datatable__column {{column.additionalClasses}}
                                         {{unless column.editable 'upf-datatable__column--uneditable'}}">
                {{#if column.component}}
                  {{component column.component item=item column=column}}
                {{else}}
                  {{#if (eq column.helper 'money')}}
                    {{format-money (get item column.property) (get item column.currency)}}
                  {{else if (eq column.helper 'numeric')}}
                    {{format-numeric (get item column.property)}}
                  {{else}}
                    {{get item column.property}}
                  {{/if}}
                {{/if}}
              </td>
            {{/unless}}
          {{/each}}
        {{/upf-table/row}}
      {{else}}
        <tr>
          <td colspan={{_fullSizeColumnColspan}} class='upf-align--center'>
            {{yield}}
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
