<div
  id={{@step.id}}
  class={{this.computedClasses}}
  data-wheel-listener={{this.wheelListenerEnabled}}
  data-wheel-handled={{this.wheelHandled}}
  {{did-update this.onDisplayStateUpdate @step.displayState}}
  {{on "wheel" this.handleWheelEvent}}
  ...attributes
>
  {{#if this.isVisible}}
    <this.componentToDisplay @step={{@step}} {{on "scroll" this.handleScrollEvent}} {{did-insert this.initStepView}} />
  {{/if}}
</div>