<section class='col-xs-11 center-block stats'>
  <h2 class='col-xs-12'>Stats & Data</h2>

  <p class='col-xs-12'>
    Stats & Data components are widgets used for providing an insight about a
    given statistic.<br>

    Even though they can take any type of text, it's really advised to just
    stick with a number and a title (and additionally, an icon). The number
    being the value of the displayed stat, and the title being its user
    friendly name.
  </p>

  <h3 class='col-xs-12'>Standard Stat</h3>

  <div class='col-xs-12'>
    <ul class='nav nav-tabs' role='tablist'>
      <li role='presentation' class='active'>
        <a href='#component-standard' aria-controls='component' role='tab'
           data-toggle='tab'>
          Component
        </a>
      </li>

      <li role='presentation'>
        <a href='#htmlbars-standard' aria-controls='html' role='tab'
           data-toggle='tab'>
          HTMLBars
        </a>
      </li>

      <li role='presentation'>
        <a href='#html-standard' aria-controls='html' role='tab'
           data-toggle='tab'>
          HMTL
        </a>
      </li>
    </ul>

    <div class='tab-content margin-top-sm'>
      <div role='tabpanel' class='tab-pane active' id='component-standard'>
        <div class='row'>
          <div class='col-xs-2'>
            <div class='upf-stat'>
              <div class='upf-stat__number-container'>
                <div class='upf-progress-radial upf-progress-radial--none
                            upf-progress-radial-lg'>
                  <div class="overlay">
                    <span class='upf-stat__icon'>
                      {{upf-icon 'envelope' 'gray' 'thicker'}}
                    </span>
                    <span class='upf-stat__number'>387</span>
                  </div>
                </div>
              </div>
              <span class='upf-stat__title'>All</span>
            </div>
          </div>

          <div class='col-xs-2'>
            <div class='upf-stat'>
              <div class='upf-stat__number-container'>
                <div class='upf-progress-radial
                            demo-stats__stat--scheduled-email
                            progress-40 upf-progress-radial-lg'>
                  <div class='overlay'>
                    <span class='upf-stat__icon'>
                      {{upf-icon 'clock' 'orange' 'thicker'}}
                    </span>
                    <span class='upf-stat__number'>40</span>
                  </div>
                </div>
              </div>
              <span class='upf-stat__title'>Scheduled</span>
            </div>
          </div>

          <div class='col-xs-2'>
            {{standard-stat number=87 title='Sent'
                            type='demo-stats__stat--sent-email'
                            upfIcon='paper-plane' upfIconColor='bright-purple'}}
          </div>

          <div class='col-xs-2'>
            {{standard-stat number=16 title='Opened'
                            type='upf-progress-radial--alert'
                            upfIcon='envelope-open'
                            upfIconColor='feedback-alert'}}
          </div>

          <div class='col-xs-2'>
            {{standard-stat number=9 title='Replied'
                            type='upf-progress-radial--success'
                            upfIcon='reply' upfIconColor='feedback-success'}}
          </div>

          <div class='col-xs-2'>
            {{standard-stat number=2 title='Failed'
                            type='upf-progress-radial--error'
                            upfIcon='exclamation-mark'
                            upfIconColor='feedback-error'}}
          </div>
        </div>
      </div>

      <div role='tabpanel' class='tab-pane' id='htmlbars-standard'>
        {{code-snippet name='standard-stat.hbs'}}
      </div>

      <div role='tabpanel' class='tab-pane' id='html-standard'>
        {{code-snippet name='standard-stat-html.hbs'}}
      </div>
    </div>
  </div>

  <h3 class='col-xs-12'>Standard Stat Block</h3>

  <div class='row'>
    <div class='col-xs-6'>
      <p class='col-xs-12'>
        A Stat block can be used to display multiple stats that are
        relative to the same context. For eg: if you have to display the results
        of a mailing campaign, you should group the number of Opened Emails,
        Bounced Emails, and Replies in a Stat Block. <br />

        Even though they are not mandatory, you should highly consider having
        a title and a little description of the context the stats apply to in
        the stat block.
      </p>

      <div class='col-xs-12'>
        <div class='upf-stat-block demo-stats__example'>
          <span class='upf-stat-block__title'>Emailing Campaign Overview</span>
          <p class='upf-stat-block__description'>
            Out of <span class='upf-stat-block__stats-total'>165</span> sent
            emails
          </p>
          <div class='upf-stat-block__stats'>
            {{standard-stat number=100 title='opened'
                            class='upf-stat-block__stat'}}

            {{standard-stat number=60 title='replied'
                            class='upf-stat-block__stat'}}

            {{standard-stat number=5 title='bounced'
                            class='upf-stat-block__stat'}}
          </div>
        </div>
      </div>
    </div>

    <div class='col-xs-6'>
      <h4 class='col-xs-12'>Documentation (Markup)</h4>
      <div class='col-xs-12'>
        {{code-snippet name='standard-stat-block.hbs'}}
      </div>
    </div>
  </div>
</section>
