<div class='col-xs-6'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='row'>
        <div class='col-xs-6'>
          <h5>Standard Input</h5>

          {{#input-wrapper}}
            <input type='text' placeholder='Placeholder text for input'
                   class='form-control upf-input' />
          {{/input-wrapper}}
        </div>

        <div class='col-xs-6'>
          <h5>Icon-Prefixed Input</h5>

          {{#input-wrapper}}
            <div class='input-group'>
              <div class='input-group-addon'>@</div>
              <input type='text' placeholder='Placeholder text for input'
                     class='form-control upf-input' />
            </div>
          {{/input-wrapper}}
        </div>
      </div>
    </div>

    <div class='col-xs-12'>
      <div class='row'>
        <h4 class='col-xs-12 text-center'>Error Input</h4>

        <p class='col-xs-12 text-center'>
          An input field with an error attached to it (generally a validation
          error). You must give the <code>input-wrapper</code> component an
          <code>error</code> argument in order to have that style.
        </p>

        <div class='col-xs-6'>
          <h5>Standard Error Input</h5>
          {{#input-wrapper error="Hi! My name is error. But you can call me Nickelback"}}
            {{input type='text' class='form-control upf-input'}}
          {{/input-wrapper}}
        </div>

        <div class='col-xs-6'>
          <h5>Icon-Prefixed Error Input</h5>

          {{#input-wrapper error="Hi! My name is error. But you can call me Nickelback"}}
            <div class='input-group'>
              <div class='input-group-addon'><i class='fa fa-user'></i></div>
              {{input type='text' class='form-control upf-input'}}
            </div>
          {{/input-wrapper}}
        </div>
      </div>
    </div>

    <div class='col-xs-12'>
      <div class='row'>
        <h4 class='col-xs-12 text-center'>Embedded Help Input</h4>

        <p class='col-xs-12 text-center'>
          We built this one so we can provide users with some help about the input
          they are filling. You must give the <code>input-wrapper</code> component
          an <code>help</code> argument of the Help to show up.
        </p>

        <div class='col-xs-6'>
          <h5>Standard Help Input</h5>

          {{#input-wrapper help="Confusing input huh?"}}
            {{input type='text' class='form-control upf-input'}}
          {{/input-wrapper}}
        </div>

        <div class='col-xs-6'>
          <h5>Icon-Prefixed Help Input</h5>

          {{#input-wrapper help="Confusing input huh?"}}
            <div class='input-group'>
              <div class='input-group-addon'><i class='fa fa-key'></i></div>
              {{input type='text' class='form-control upf-input'}}
            </div>
          {{/input-wrapper}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class='col-xs-6'>
  <div class='col-xs-12'>
    <div class='row'>
      <h4 class='col-xs-12'>Documentation</h4>

      <h5 class='col-xs-12'>Standard Input</h5>
      <div class='col-xs-12'>
        {{code-snippet name='standard-inputs.hbs'}}
      </div>

      <h5 class='col-xs-12'>Standard Error Input</h5>
      <div class='col-xs-12'>
        {{code-snippet name='standard-error-inputs.hbs'}}
      </div>

      <h5 class='col-xs-12'>Icon-Prefixed Help Input</h5>
      <div class='col-xs-12'>
        {{code-snippet name='icon-prefixed-inputs.hbs'}}
      </div>
    </div>
  </div>
</div>
