<div class="oss-access-panel-backdrop" role="button" {{on "click" @onClose}}></div>
<div class="oss-access-panel-container" {{did-insert this.setupAnimation}} ...attributes>
  {{#if (has-block "header")}}
    <div class="oss-access-panel-container__header">
      {{yield to="header"}}
    </div>
  {{/if}}

  {{#if (and this.displayEmptyState (not this.filtered))}}
    <div class="fx-1">
      {{yield to="empty-state"}}
    </div>
  {{else}}
    {{#if @onSearch}}
      <div class="padding-top-px-18 padding-bottom-px-18 padding-left-px-18 padding-right-px-18">
        <OSS::SearchField
          @value={{this.searchKeyword}}
          @placeholder={{t "oss-components.access-panel.search_placeholder"}}
          @onChange={{this.onSearch}}
          {{enable-input-autofocus}}
        />
      </div>
    {{/if}}

    <div class="oss-access-panel-container__content-wrapper fx-col height-pc-100">
      {{#if (has-block "columns")}}
        <div class="oss-access-panel-container__rows-header">
          {{yield to="columns"}}
        </div>
      {{/if}}

      {{#if (and this.displayEmptyState this.filtered)}}
        {{yield to="no-results"}}
      {{else}}
        <div
          class="oss-access-panel-container__rows-container"
          {{on-bottom-reached @onBottomReached}}
          {{scroll-shadow}}
        >
          {{#if (and @loading @initialLoad)}}
            {{#each this.loadingRows}}
              {{#if (has-block "row-skeleton")}}
                <div class="oss-access-panel-container__row">
                  {{yield to="row-skeleton"}}
                </div>
              {{else}}
                <div class="oss-access-panel-container__row fx-malign-space-between">
                  <OSS::Skeleton @height={{12}} @width={{150}} />
                  <OSS::Skeleton @height={{12}} @width={{36}} />
                </div>
              {{/if}}
            {{/each}}
          {{else}}
            {{#each @records as |record|}}
              <div
                class={{concat
                  "oss-access-panel-container__row"
                  (if record._accessPanel.active " oss-access-panel-container__row--active")
                }}
              >
                {{yield record to="row"}}
              </div>
            {{/each}}

            {{#if @loading}}
              {{#each this.loadingMoreRows}}
                {{#if (has-block "row-skeleton")}}
                  <div class="oss-access-panel-container__row">
                    {{yield to="row-skeleton"}}
                  </div>
                {{else}}
                  <div class="oss-access-panel-container__row fx-malign-space-between">
                    <OSS::Skeleton @height={{12}} @width={{150}} />
                    <OSS::Skeleton @height={{12}} @width={{36}} />
                  </div>
                {{/if}}
              {{/each}}
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>