{{#if this.isInternalRoute}}
  <LinkTo @route={{@link}} @currentWhen={{this.currentWhen}} rel={{this.rel}} ...attributes>{{yield}}</LinkTo>
{{else}}
  <a href={{@link}} rel={{this.rel}} ...attributes>{{yield}}</a>
{{/if}}