<div class="array-input-container fx-row fx-xalign-center" ...attributes>
  {{#each this.items as |item index|}}
    <OSS::Chip @label={{item}} @onRemove={{fn this.removeItem index}} />
  {{/each}}
  <Input @value={{this.currentValue}} @placeholder={{@placeholder}} {{on "keydown" this.keyListener}} autocomplete="off"
         {{on "blur" this.validateTagOnClickOutside}} />
</div>
