<div class={{this.computedClass}} ...attributes>
  {{#if this.displayInitial}}
    <span class="text-style-uppercase">{{@initials}}</span>
  {{else}}
    <img src={{this.image}} alt={{t "oss-components.badge.image_alt"}} class={{this.imageClass}}
         onerror={{this.imageLoadError}} loading="lazy" />
  {{/if}}
</div>
