<div class={{this.computedClass}} ...attributes>
  {{#if this.displayInitials}}
    <span class='text-style-uppercase'>{{@initials}}</span>
  {{else if (not @loading)}}
    <img src={{this.image}} alt='avatar' class={{this.imageClass}} onerror={{this.imageLoadError}} loading='lazy' />
  {{/if}}
</div>