<div class={{concat "oss-avatar-group " (if (gt this.remainingCount 0) "oss-avatar-group--has-remaining")}}>
  {{#if @loading}}
    {{#each this.loadingAvatars}}
      <OSS::Avatar @loading={{true}} @size={{this.size}} />
    {{/each}}
  {{else}}
    {{#each this.avatars as |avatar|}}
      <OSS::Avatar @image={{avatar.image}} @initials={{avatar.initials}} @size={{this.size}} />
    {{/each}}
  {{/if}}

  {{#if (gt this.remainingCount 0)}}
    <OSS::Avatar @initials={{concat "+" this.remainingCount}} @size={{this.size}} />
  {{/if}}
</div>