<div class="upf-banner {{if @plain 'bg-color-grey' 'bg-color-white'}} fx-1 fx-row border border-color-default
            border-radius-default padding-x-sm fx-xalign-center fx-gap-px-10" ...attributes>
  <div>
    {{#if (has-block "custom-icon")}}
      <div>{{yield to="custom-icon"}}</div>
    {{else if @icon}}
      <i class="{{@icon}} upf-badge upf-badge--shape-round upf-badge--size-md"></i>
    {{else if @image}}
      <img class="upf-badge upf-badge--size-md upf-badge--shape-round" src={{@image}} alt="banner" />
    {{/if}}
  </div>
  <div class="fx-col fx-1">
    {{#if @title}}
      <span class="text-style-bold text-size-6 margin-bottom-xxx-sm">{{@title}}</span>
    {{/if}}
    {{#if @subtitle}}
      <span class="text-size-4 text-color-default-light">{{@subtitle}}</span>
    {{/if}}
  </div>
  {{#if (has-block "actions")}}
    <div>{{yield to="actions"}}</div>
  {{/if}}
</div>
