<div class="upf-banner fx-1 fx-row padding-px-18 fx-xalign-center fx-gap-px-12 {{this.modifierClasses}}"
            ...attributes>
  {{#if (has-block "custom-icon")}}
    <div>{{yield to="custom-icon"}}</div>
  {{else if @icon}}
    <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}}
               class="upf-badge upf-badge--shape-round {{this.iconSizeClass}}" />
  {{else if @image}}
    <img class="upf-badge upf-badge--size-md upf-badge--shape-round" src={{@image}} alt="banner" />
  {{/if}}
  <div class="fx-col fx-1 {{if (not-eq @size 'sm') 'fx-gap-px-3'}}">
    {{#if @title}}
      <span class="font-weight-semibold text-size-5 font-color-gray-900">{{@title}}</span>
    {{/if}}
    {{#if (has-block "secondary-actions")}}
      <div>{{yield to="secondary-actions"}}</div>
    {{/if}}
    {{#if @subtitle}}
      <span class="text-size-4 font-color-gray-500">{{@subtitle}}</span>
    {{/if}}
  </div>
  {{#if (has-block "actions")}}
    <div>{{yield to="actions"}}</div>
  {{/if}}
</div>
