{{! template-lint-disable u-template-lint/no-bare-button}}
<button
  type="button"
  class={{this.computedClass}}
  {{did-insert this.didInsert}}
  {{on "click" this.onclick}}
  ...attributes
>
  {{#if this.intervalState}}
    {{t "oss-components.button.cancel_message" time=this.counterTimeLeftSecond}}
  {{else if this.loadingState}}
    <OSS::Icon @style="solid" @icon="fa-circle-notch fa-spin" />
  {{else}}
    {{#if @icon}}
      <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
    {{/if}}

    {{#if @label}}
      <span class={{if @icon "margin-left-xxx-sm"}}>{{@label}}</span>
    {{/if}}
  {{/if}}
</button>