<div class="oss-button-dropdown" ...attributes>
  <div class="oss-button-dropdown__trigger fx-row fx-xalign-center" role={{unless @mainAction "button"}}
       {{on "click" this.onDropdownClick}}>
    <div class="fx-row fx-xalign-center fx-gap-px-6" role={{if @mainAction "button"}} {{on "click" this.onMainAction}}>
      {{#if @icon}}
        <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
      {{/if}}
      {{#if @label}}
        <span>{{@label}}</span>
      {{/if}}
    </div>
    <div class="fx-row fx-xalign-center" role={{if @mainAction "button"}} {{on "click" this.toggleDropdown}}>
      <OSS::Icon @icon="fa-caret-{{if this.displayDropdown 'up' 'down'}}" />
    </div>
  </div>

  {{#if this.displayDropdown}}
    <div class="oss-button-dropdown__items"
         {{on "click" this.toggleDropdown}}
         {{did-insert this.setupChildrenClickHandler}}
         {{will-destroy this.teardownChildrenClickHandler}}
         {{on-click-outside this.onClickOutside useCapture=true}}>
      {{yield to="items"}}
    </div>
  {{/if}}
</div>
