<div class={{this.computedClasses}}>
  <div
    class="oss-button-dropdown__trigger
      {{if @square 'oss-button-dropdown__trigger-square'}}
      {{if this.displayDropdown 'oss-button-dropdown__trigger--active'}}
      fx-row fx-xalign-center"
    role={{unless @mainAction "button"}}
    {{on "click" this.onDropdownClick}}
    ...attributes
  >
    <div class="fx-row fx-xalign-center fx-gap-px-6" role={{if @mainAction "button"}} {{on "click" this.onMainAction}}>
      {{#if @icon}}
        <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
      {{/if}}
      {{#if (and @label (not @square))}}
        <span>{{@label}}</span>
      {{/if}}
    </div>
    {{#unless @hideArrow}}
      <div class="fx-row fx-xalign-center" role={{if @mainAction "button"}} {{on "click" this.toggleDropdown}}>
        <OSS::Icon @icon="fa-caret-{{if this.displayDropdown 'up' 'down'}}" />
      </div>
    {{/unless}}
  </div>

  {{#if this.displayDropdown}}
    <div
      class="oss-button-dropdown__items"
      {{on "click" this.toggleDropdown}}
      {{did-insert this.setupChildrenClickHandler}}
      {{will-destroy this.teardownChildrenClickHandler}}
      {{on-click-outside this.onClickOutside useCapture=true}}
    >
      {{yield to="items"}}
    </div>
  {{/if}}
</div>