<div
  class="oss-carousel {{if @showPageCounterBottom 'oss-carousel__reverse'}}"
  {{did-insert this.initialize}}
  ...attributes
>
  {{#if this.showIndicators}}
    <div class="fx-row">
      {{#each this.pages as |page index|}}
        <div class="page-btn" role="button" {{on "click" (fn this.displayPage page)}}>
          <i class="{{this.buttonIcon}} {{if (eq index this.currentPageIndex) 'page-btn--active'}}"></i>
        </div>
      {{/each}}
    </div>
  {{/if}}
  <div class="page-container {{if this.displaySidePadding 'page-container--side-padding'}}">
    {{#if this.showControls}}
      <div class="carousel-control carousel-control--left" {{on "click" this.previousPage}} role="button">
        <i class="far fa-chevron-left"></i>
      </div>
      <div class="carousel-control carousel-control--right" {{on "click" this.nextPage}} role="button">
        <i class="far fa-chevron-right"></i>
      </div>
    {{/if}}
    {{yield to="pages"}}
  </div>
</div>