<div
  class="oss-carousel {{if (eq @indicatorsPosition 'bottom') 'oss-carousel__reverse'}}"
  {{did-insert this.initialize}}
  ...attributes
>
  {{#if this.showIndicators}}
    <div class="fx-row oss-carousel__indicators">
      {{#each this.pages as |page index|}}
        <div class="page-btn" role="button" {{on "click" (fn this.displayPage page)}}>
          <OSS::Icon
            @icon={{this.buttonIcon}}
            @style="solid"
            class="{{if (eq index this.currentPageIndex) 'page-btn--active'}}"
          />
        </div>
      {{/each}}
    </div>
  {{/if}}
  <div class="page-container">
    {{yield to="pages"}}
  </div>
  {{#if this.showControls}}
    {{#if this.showPreviousControl}}
      <div
        class="carousel-control {{concat 'carousel-control--left' (if this.showControlsOutside '-outside')}}"
        {{on "click" this.previousPage}}
        role="button"
      >
        <OSS::Icon @icon="fa-arrow-left" />
      </div>
    {{/if}}
    {{#if this.showNextControl}}
      <div
        class="carousel-control {{concat 'carousel-control--right' (if this.showControlsOutside '-outside')}}"
        {{on "click" this.nextPage}}
        role="button"
      >
        <OSS::Icon @icon="fa-arrow-right" />
      </div>
    {{/if}}
  {{/if}}
</div>