<div class="upf-checkbox {{this.modifierClasses}}" ...attributes {{on "click" this.updateValue}}>
  <Input
    @type="checkbox" @checked={{@checked}} @disabled={{@disabled}} class="upf-checkbox__input" 
    id={{concat "unchecked-checkbox-" this.elementId}} />

  <label for={{concat "unchecked-checkbox-" this.elementId}} class={{this.checkboxClasses}}></label>
</div>
