<div class={{this.computedClass}} ...attributes>
  <span class="text-style-semibold" style={{if @displayMaxWidth this.ellipsisStyle}}
        {{enable-tooltip title=(if @displayMaxWidth @label '') placement='top'}}>
    {{@label}}
  </span>
  {{#if @disabled}}
    <i class="far fa-times-circle" />
  {{else}}
    <i class="far fa-times-circle" role="button" {{on "click" this.onCrossClick}} />
  {{/if}}
</div>
