<div class={{this.computedClasses}} ...attributes>
  <div
    class="currency-input fx-row fx-1 fx-xalign-center
      {{if @onlyCurrency 'onlycurrency'}}
      {{if this.currencySelectorShown 'currency-input--active'}}"
  >
    <div
      class="currency-selector fx-row fx-gap-px-12 fx-malign-space-between fx-xalign-center"
      role={{if this.allowCurrencyUpdate "button" "img"}}
      {{on "click" this.toggleCurrencySelector}}
    >
      <div class="fx-col">
        <div class="fx-row fx-gap-px-9">
          <span>{{this.selectedCurrencySymbol}}</span>
          {{#if @onlyCurrency}}
            <span class="margin-right-px-12">{{this.selectedCurrencyCode}}</span>
          {{/if}}
        </div>
      </div>

      {{#if (and this.allowCurrencyUpdate (not this.disabled))}}
        <OSS::Icon
          @icon="{{if this.currencySelectorShown 'fa-chevron-up' 'fa-chevron-down'}}"
          class="margin-left-px-6"
        />
      {{/if}}
    </div>
    {{#unless @onlyCurrency}}
      <Input
        @value={{this.localValue}}
        @type="text"
        min="0"
        autocomplete="off"
        placeholder={{this.placeholder}}
        disabled={{this.disabled}}
        class="fx-1"
        {{on "keydown" this.onlyNumeric}}
        {{on "keyup" this.notifyChanges}}
        {{on "paste" this.handlePaste}}
      />
    {{/unless}}
  </div>
  {{#if @errorMessage}}
    <div class="font-color-error-500 margin-top-px-6 fx-row fx-gap-px-6 fx-xalign-center">
      <OSS::Icon @icon="fa-exclamation-triangle" />
      {{@errorMessage}}
    </div>
  {{else if this.feedbackMessage}}
    <span class={{this.feedbackMessageComputedClasses}}>
      {{#unless (eq this.feedbackMessage.type "error")}}
        <OSS::Icon @icon={{this.messageIcon}} />
      {{/unless}}
      <span>{{this.feedbackMessage.value}}</span>
    </span>
  {{/if}}
  {{#if this.currencySelectorShown}}
    <OSS::InfiniteSelect
      @items={{this.filteredCurrencies}}
      @onSearch={{this.onSearch}}
      @onSelect={{this.onSelect}}
      @searchPlaceholder={{t "oss-components.currency-input.search"}}
      @enableKeyboard={{true}}
      {{on-click-outside this.hideCurrencySelector}}
    >
      <:option as |currency|>
        <div class="fx-row fx-xalign-center {{if (eq this.selectedCurrency currency) 'row-selected'}}">
          <span class="symbol text-color-default-light margin-left-xx-sm">{{currency.symbol}}</span>
          <span class="text-color-default-light margin-left-xx-sm fx-1">{{currency.code}}</span>
          {{#if (eq this.selectedCurrency currency)}}
            <OSS::Icon @icon="fa-check" class="font-color-primary-500 padding-right-px-6" />
          {{/if}}
        </div>
      </:option>
    </OSS::InfiniteSelect>
  {{/if}}
</div>