<div class="oss-feature-cards-container" ...attributes>
  {{#each this.cardsWithComputedVariants as |card|}}
    <OSS::FeatureCard
      @title={{card.title}}
      @description={{card.description}}
      @image={{card.image}}
      @colorVariant={{card.colorVariant}}
      @shadowVariant={{card.shadowVariant}}
      class="oss-feature-cards-container__item"
    />
  {{/each}}
</div>