<div class={{this.computedClasses}} ...attributes>
  <div class="oss-feature-card__content">
    <span class="font-size-md font-weight-semibold">{{@title}}</span>
    <p class="oss-feature-card__description text-ellipsis">{{@description}}</p>
  </div>

  <img class="oss-feature-card__illustration" src={{@image.src}} alt={{this.imageAlt}} />
</div>