<div
  id={{this.elementId}}
  data-internal-id={{this.elementId}}
  class="fx-col fx-gap-px-12 upf-infinite-select {{unless this.inline 'upf-infinite-select--absolute'}}"
  {{did-insert this.onRender}}
  ...attributes
>
  {{#if this.searchEnabled}}
    <OSS::SearchField
      @value={{this._searchKeyword}}
      @placeholder={{this.searchPlaceholder}}
      @onChange={{this.updateSearchKeyword}}
      {{on "keydown" this.handleKeyEventInput}}
      {{did-insert this.initSearchInput}}
    />
  {{/if}}
  <div class="upf-infinite-select__container">
    <ul
      class="upf-infinite-select__items-container
        {{if (eq this.items.length 0) 'upf-infinite-select__items-container--empty'}}"
      {{on-bottom-reached this.onBottomReached}}
      {{scroll-shadow}}
      {{on "keydown" this.handleKeyEvent}}
    >
      {{#if (and @loading (not @loadingMore))}}
        <OSS::Skeleton @width="100%" @height="18" @multiple={{5}} @direction="col" />
      {{else}}
        {{#each this.items as |item index|}}
          <li
            class="upf-infinite-select__item
              {{if
                (and (eq index this._focusElement) this.focusStylesDisabled)
                ' upf-infinite-select__item--disabled-focus'
              }}"
            role="button"
            {{on "mouseenter" (fn this.handleItemHover index)}}
            {{on "mouseleave" this.clearHoverState}}
            {{on "click" (fn this.didSelectItem item)}}
            tabindex="0"
          >
            {{#if (has-block "option")}}
              {{yield item index to="option"}}
            {{else}}
              {{get item this.itemLabel}}
            {{/if}}
          </li>
        {{else}}
          <div class="fx-col fx-xalign-center">
            {{#if (has-block "empty-state")}}
              {{yield to="empty-state"}}
            {{else}}
              <OSS::Illustration
                @src="/@upfluence/oss-components/assets/images/no-records.svg"
                data-control-name="infinite-select-empty-state-illustration"
              />
              <div class="margin-top-xx-sm text-color-default upf-align--center">
                {{#if this._searchKeyword}}
                  <p>{{t "oss-components.infinite-select.no-match.title"}}</p>
                  <p class="text-color-default-light">
                    {{t "oss-components.infinite-select.no-match.description"}}
                  </p>
                {{else}}
                  {{t "oss-components.infinite-select.empty"}}
                {{/if}}
              </div>
            {{/if}}
          </div>
        {{/each}}

        {{#if @loadingMore}}
          <OSS::Skeleton @width="100%" @height="18" @multiple={{3}} @direction="col" />
        {{/if}}
      {{/if}}
    </ul>
  </div>
</div>