<div class="upf-infinite-select" {{did-insert this.onRender}} ...attributes>
  {{#if this.searchEnabled}}
    {{#input-wrapper}}
      <Input
        value={{this._searchKeyword}} {{on "keyup" this.updateSearchKeyword}} type="text"
        class="form-control upf-input" placeholder={{this.searchPlaceholder}} />
    {{/input-wrapper}}
  {{/if}}

  <ul class="upf-infinite-select__items-container
             {{if (eq this.items.length 0) 'upf-infinite-select__items-container--empty'}}"
             {{on-bottom-reached this.onBottomReached}}>
    {{#if (and @loading (not @loadingMore))}}
      <div class="upf-skeleton-content fx-col fx-malign-start padding-xx-sm">
        {{#each this.loadingRows as |width|}}
          <div class="upf-skeleton-effect margin-bottom-xx-sm" style="width: {{width}}%; height: 8px;"></div>
        {{/each}}
      </div>
    {{else}}
      {{#each this.items as |item|}}
        <li class="upf-infinite-select__item" role="button" {{on "click" (fn this.didSelectItem item)}}>
          {{#if (has-block "option")}}
            {{yield item to="option"}}
          {{else}}
            {{get item this.itemLabel}}
          {{/if}}
        </li>
      {{else}}
        <div class="fx-col fx-xalign-center">
          <img
            src="/@upfluence/oss-components/assets/images/empty-state-skeleton.png"
            alt="Empty content" width="15%" />

          <div class="margin-top-xx-sm text-color-default upf-align--center">
            {{#if this._searchKeyword}}
              <p>No matching results</p>
              <p class="text-color-default-light">
                Try adjusting your search to find what you’re looking for. 
              </p>
            {{else}}
              Nothing to see here.
            {{/if}}
          </div>
        </div>
      {{/each}}

      {{#if @loadingMore}}
        <div class="upf-skeleton-content fx-col fx-malign-start padding-xx-sm">
          {{#each this.loadingMoreRows as |width|}}
            <div class="upf-skeleton-effect margin-bottom-xx-sm" style="width: {{width}}%; height: 8px;"></div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </ul>
</div>
