<div class="fx-col">
  <div
    class="oss-input-container
      {{if this.hasStyleKey (concat ' oss-input-container--' this.styleKey)}}
      {{if (has-block 'prefix') ' has-prefix'}}
      {{if (has-block 'suffix') ' has-suffix'}}"
    ...attributes
  >
    {{#if (has-block "prefix")}}
      <div class="prefix">{{yield to="prefix"}}</div>
    {{/if}}

    {{#if (has-block "input")}}
      <div class="yielded-input">
        {{yield to="input"}}
      </div>
    {{else}}
      <Input
        {{on "keyup" (fn this._onChange @value)}}
        @value={{@value}}
        @type={{this.type}}
        placeholder={{@placeholder}}
        disabled={{@disabled}}
        class="upf-input"
      />
    {{/if}}

    {{#if (has-block "suffix")}}
      <div class="suffix">{{yield to="suffix"}}</div>
    {{/if}}
  </div>
  {{#if @successMessage}}
    <span class="text-color-success margin-top-px-6">
      <OSS::Icon @icon="fa-check-circle" />
      <span>{{@successMessage}}</span>
    </span>
  {{/if}}
  {{#if @alertMessage}}
    <span class="text-color-alert margin-top-px-6">
      <OSS::Icon @icon="fa-exclamation-circle" />
      <span>{{@alertMessage}}</span>
    </span>
  {{/if}}
  {{#if @errorMessage}}
    <span class="text-color-error margin-top-px-6">{{@errorMessage}}</span>
  {{/if}}
</div>