{{! @glint-nocheck: not typesafe yet }}
<div class="upf-link" role="button" {{on "click" this.goTo}} ...attributes>
  {{#if @icon}}
    <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
  {{/if}}

  {{#if @label}}
    <span class={{if @icon "margin-left-xxx-sm"}}>{{@label}}</span>
  {{/if}}
</div>
