{{#if this.displayModal}}
  <div class="oss-modal-dialog-backdrop fx-row fx-malign-center fx-xalign-center"
      {{will-destroy this.destroy}} ...attributes>
    <div class="oss-modal-dialog fx-col {{this.modalSize}}" {{on-click-outside this.closeModal}} {{did-insert this.init}}>
      <header class="fx-row">
        <div class="fx-1 fx-col fx-malign-center">
          <span class="title">{{@title}}</span>
          <span class="subtitle">{{@subtitle}}</span>
        </div>
        <OSS::Icon @style="solid" @icon="fa-times" class="padding-px-12" {{on "click" this.closeModal}} role="button"
                  data-control-name="close-modal-button" />
      </header>

      {{#if (has-block "illustration")}}
        {{yield to="illustration"}}
      {{/if}}

      <div class="oss-modal-dialog--content fx-1">
        {{#if (has-block "content")}}
          {{yield to="content"}}
        {{/if}}
      </div>
      <footer class="fx-row fx-xalign-center">
        {{#if (has-block "footer")}}
          {{yield to="footer"}}
        {{/if}}
      </footer>
    </div>
  </div>
{{/if}}
