<div class="modal fade" tabindex="-1" {{did-insert this.setup}} ...attributes>
  <div class="modal-dialog {{if @options.centered 'modal-dialog-centered'}} {{@options.modalClass}}" role="document">
    <div class="modal-content">
      <div class="modal-header {{if @options.borderlessHeader 'modal-header__borderless'}}">
        {{#if @title}}
          <div class="modal-title">
            {{@title}}
          </div>
        {{/if}}

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-x" {{on "click" this.close}}>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {{yield}}
    </div>
  </div>
</div>
