<div class="fx-row fx-1 tab-container">
  {{#each @tabArray as |tab|}}
    <div class="fx-col tab {{if tab.selected "tab--selected"}} {{if tab.disabled "tab--disabled"}}"
         {{on "click" this.onSelectTab}} type="button" tabindex="0">
      <div class="fx-row tab-content fx-gap-px-9">
        {{#if tab.icon}}
          <i class={{tab.icon}} />
        {{/if}}
        {{#if tab.label}}
          <span>{{tab.label}}</span>
        {{/if}}
        {{#if tab.infoCircle}}
          <i class="far fa-info-circle infoCircle" />
        {{/if}}
        {{#if tab.notificationDot}}
          <div class="iconNotif" />
        {{/if}}
      </div>
      <div class="border-display" />
    </div>
  {{/each}}
  <div class="fx-col fx-1 border-display" />
</div>
