{{! @glint-nocheck: not typesafe yet }}
<div class="fx-row fx-1 tab-container">
  {{#each @tabArray as |tab|}}
    <button type="button" class="fx-col tab {{if tab.selected "tab--selected"}} {{if tab.disabled "tab--disabled"}}"
            {{on "click" (fn this.onSelectTab tab)}} disabled={{tab.disabled}}>
      <div class="fx-row tab-content fx-xalign-center fx-gap-px-9">
        {{#if tab.icon}}
          <OSS::Icon @style={{fa-icon-style tab.icon}} @icon={{fa-icon-value tab.icon}} />
        {{/if}}
        {{#if tab.label}}
          <span class="text-size-6">{{tab.label}}</span>
        {{/if}}
        {{#if tab.infoCircle}}
          <OSS::Icon @icon="fa-info-circle" />
        {{/if}}
        {{#if tab.notificationDot}}
          <OSS::Icon @style="solid" @icon="fa-circle" class="font-color-accent text-size-1" />
        {{/if}}
      </div>
    </button>
  {{/each}}
</div>
