<div class="number-input fx-row" {{enable-tooltip title=this.reachedTooltip placement="top"}}>
  <OSS::Button @square={{true}} @size="md" @icon="far fa-minus" {{on "click" this.decreaseValue}}
               disabled={{this.isMinDisabled}} />
  {{! template-lint-disable no-triple-curlies}}
  <OSS::InputContainer @value={{this.localValue}} @onChange={{this.checkUserInput}} style={{{this.dynamicWidth}}}
                       {{on "keydown" this.keyParser}} {{on "blur" this.checkUserInput}} />
  <OSS::Button @square={{true}} @size="md" @icon="far fa-plus" {{on "click" this.increaseValue}}
               disabled={{this.isMaxDisabled}} />
</div>
