<div class="fx-col fx-1 fx-gap-px-6">
  <OSS::InputContainer ...attributes>
    <:input>
      <Input @value={{@value}}
             @type={{this.visibility}}
             disabled={{@disabled}}
             placeholder={{this.placeholder}}
             autocomplete="off"
             {{on "keyup" this.validateInput}} />
    </:input>
    <:suffix>
      {{#if @disabled}}
        <OSS::Icon class="font-color-gray-500" @icon={{this.visibilityIcon}} />
      {{else}}
        <OSS::Button class="margin-px-6" @icon={{this.visibilityIcon}} @square={{true}}
                     {{on "click" this.toggleVisibility}} />
      {{/if}}
    </:suffix>
  </OSS::InputContainer>
  {{#if @validates}}
    <div class="fx-row fx-gap-px-12">
      {{#each this.inputValidators as |inputValidator|}}
        {{#let (this.validatorAttributes type=inputValidator) as |validator|}}
          <div class="password-input-validator {{validator.class}} fx-row fx-gap-px-6">
            <div class="validator-icon-container">
              <i class="validator-icon far fa-circle-dashed {{if (eq validator.state 'default') 'validator-icon--visible morphed'}}"></i>
              <i class="validator-icon far fa-check {{if (eq validator.state 'success') 'validator-icon--visible morphed' 'unmorphed'}}"></i>
              <i class="validator-icon far fa-times {{if (eq validator.state 'error') 'validator-icon--visible morphed' 'unmorphed'}}"></i>
            </div>
            <span>{{t validator.labelKey}}</span>
          </div>
        {{/let}}
      {{/each}}
    </div>
  {{/if}}
</div>
