{{! @glint-nocheck: not typesafe yet }}
<div class="fx-col fx-1 fx-gap-px-6">
  <OSS::InputContainer @errorMessage={{this.errorMessage}} ...attributes>
    <:input>
      <Input @value={{@value}}
             @type={{this.visibility}}
             disabled={{@disabled}}
             placeholder={{this.placeholder}}
             autocomplete="current-password"
             {{on "keyup" this.validateInput}} />
    </:input>
    <:suffix>
      {{#if @disabled}}
        <OSS::Icon class="font-color-gray-500" @icon={{this.visibilityIcon}} />
      {{else}}
        <OSS::Button class="margin-px-6" @icon={{this.visibilityIcon}} @square={{true}}
                     {{on "click" this.toggleVisibility}} />
      {{/if}}
    </:suffix>
  </OSS::InputContainer>
  {{#if @validates}}
    <div class="fx-row fx-gap-px-12" data-control-name="password-input-validators">
      {{#each this.inputValidators as |inputValidator|}}
        {{#let (this.validatorAttributes type=inputValidator) as |validator|}}
          <div class="password-input-validator fx-row fx-gap-px-6"
               data-control-name="password-input-validator-{{inputValidator}}">
            <div class="validator-icon-container">
              {{#each this.validationIcons as |validationIcon|}}
                <OSS::Icon @icon={{validationIcon.icon}}
                           class="validator-icon {{validator.iconClass}}
                                  {{this.validationIconVisibility validator=validator state=validationIcon.state}}" />
              {{/each}}
            </div>
            <span class={{validator.labelClass}}>{{t validator.labelKey}}</span>
          </div>
        {{/let}}
      {{/each}}
    </div>
  {{/if}}
</div>
