<div class="phone-number-container fx-1" ...attributes>
  <div class="phone-number-input {{if this.countrySelectorShown 'phone-number-input--active'}} fx-row fx-1 fx-xalign-center">
    <div class="country-selector fx-row" role="button" {{on "click" this.toggleCountrySelector}}>
      <div class="fflag fflag-{{this.selectedCountry.id}} ff-sm ff-round"></div>
      <OSS::Icon @icon="fa-chevron-{{if this.countrySelectorShown 'up' 'down'}}" />
    </div>
    <div class="fx-1 fx-row upf-input" {{on "click" this.focusInput}}>
      <span class="fx-row fx-xalign-center phone-prefix">{{@prefix}}</span>
      <Input class="fx-1" type="tel" @value={{@number}} placeholder={{this.placeholder}}
             {{on "keydown" this.onlyNumeric}} {{on "blur" this.onlyNumeric}} {{did-insert this.registerInputElement}} />
    </div>

  </div>

  {{#if this.invalidInputError}}
    <div class="font-color-error-500 margin-top-px-6">
      {{this.invalidInputError}}
    </div>
  {{/if}}

  {{#if this.countrySelectorShown}}
    <OSS::InfiniteSelect @items={{this.filteredCountries}} @onSearch={{this.onSearch}}
                         @onSelect={{this.onSelect}}
                         @searchPlaceholder="Search"
                         {{on-click-outside this.hideCountrySelector}}>
      <:option as |country|>
        <div class="fx-row fx-xalign-center {{if (eq this.selectedCountry country) 'row-selected'}}">
          <div class="fflag fflag-{{country.id}} ff-sm ff-rounded"></div>
          <span class="text-color-default-light margin-left-xx-sm">{{country.name}}</span>
          <span class="text-color-default-light margin-left-xxx-sm fx-1">(+{{get country.countryCallingCodes 0}})</span>
          {{#if (eq this.selectedCountry country)}}
            <OSS::Icon @icon="fa-check" class="font-color-primary-500" />
          {{/if}}
        </div>
      </:option>
    </OSS::InfiniteSelect>
  {{/if}}
</div>
