{{#in-element this.portalTarget insertBefore=null}}
  <div class="oss-popover oss-popover--{{this.size}}" ...attributes>
    {{#if (has-block "illustration")}}
      <div class="oss-popover__illustration">
        {{yield to="illustration"}}
      </div>
    {{/if}}
    <div class="oss-popover__body">
      <div class="oss-popover__title-line">
        {{#if (has-block "title")}}
          {{yield to="title"}}
        {{else}}
          <span class="oss-popover__title">{{@title}}</span>
        {{/if}}
        {{#if (has-block "contextual-actions")}}
          <span class="oss-popover__contextualactions">
            {{yield to="contextual-actions"}}
          </span>
        {{/if}}
      </div>
      {{#if @subtitle}}
        <span class="oss-popover__subtitle">{{@subtitle}}</span>
      {{/if}}
      {{#if (has-block "content")}}
        <div class="oss-popover__content">
          {{yield to="content"}}
        </div>
      {{/if}}
    </div>

    {{#if this.enableArrow}}
      <div class="oss-popover__arrow" data-floating-arrow></div>
    {{/if}}
  </div>
{{/in-element}}