<div class="upf-power-select fx-1 fx-col" ...attributes
     {{did-insert (fn this.ensureBlockPresence (has-block "selected-item") (has-block "option-item"))}}>
  <div class="upf-power-select__array-container" role="button"
       {{on "click" this.toggleSelect}}>
    <div class="array-input-container fx-row padding-top-px-6 padding-bottom-px-6 {{if this.displaySelect "active"}}"
         {{scroll-shadow color="field"}}>
      <div class="fx-row fx-xalign-center fx-1 padding-left-px-6 fx-gap-px-6 fx-wrap">
        {{#each @selectedItems as |selectedItem|}}
          {{yield selectedItem to="selected-item"}}
        {{else}}
          <span class="text-size-5 text-color-default-light">
            {{this.placeholder}}
          </span>
        {{/each}}
      </div>
      <OSS::Icon @icon={{if this.displaySelect "fa-chevron-up" "fa-chevron-down"}}
                 class="margin-left-px-6 margin-right-px-6 margin-top-px-6" />
    </div>
  </div>

  {{#if this.displaySelect}}
    {{#if (has-block "empty-state")}}
      <OSS::InfiniteSelect @items={{@items}} @onSearch={{@onSearch}} @inline={{false}} @onSelect={{this.onSelect}}
                           @searchPlaceholder={{@searchPlaceholder}} @loading={{@loading}} @loadingMore={{@loadingMore}}
                           @onBottomReached={{@onBottomReached}}
                           {{on-click-outside this.hideSelect}}>
        <:option as |item|>
          {{yield item to="option-item"}}
        </:option>

        <:empty-state>
          {{yield to="empty-state"}}
        </:empty-state>
      </OSS::InfiniteSelect>
    {{else}}
      <OSS::InfiniteSelect @items={{@items}} @onSearch={{@onSearch}} @inline={{false}} @onSelect={{this.onSelect}}
                           @searchPlaceholder={{@searchPlaceholder}} @loading={{@loading}} @loadingMore={{@loadingMore}}
                           @onBottomReached={{@onBottomReached}}
                           {{on-click-outside this.hideSelect}}>
        <:option as |item|>
          {{yield item to="option-item"}}
        </:option>
      </OSS::InfiniteSelect>
    {{/if}}
  {{/if}}
</div>
