<div class="upf-power-select fx-col" ...attributes {{did-insert (fn this.checkBlockPresence (has-block 'selected-item') 'selected-item')}}
  {{did-insert (fn this.checkBlockPresence (has-block 'option-item') 'option-item')}}>
  <div class="upf-power-select__array-container margin-bottom-xxx-sm">
    <div class="array-input-container {{if @selectedItems 'fx-row fx-xalign-center' 'fx-col fx-malign-center'}}
                {{if this.hasScrollbar 'has-overflow'}}" {{did-insert this.observeResize}} {{will-destroy this.unobserveResize}}>
      {{#each @selectedItems as |selectedItem index|}}
        <div class="input-array-tag fx-row fx-xalign-center">
          {{yield selectedItem to="selected-item"}}
          <i class="fa fa-remove margin-left-xxx-sm text-color-blue-gray" role="button"
            {{on "click" (fn this.removeItem selectedItem)}}></i>
        </div>
      {{else}}
        <span class="padding-left-xx-sm text-size-5 text-color-default-light">
          {{this.placeholder}}
        </span>
      {{/each}}
      {{#if this.hasScrollbar}}
        <div class="infinite-shadow-scroll"></div>
      {{/if}}
    </div>
  </div>
  <div class="upf-power-infinite-select-container margin-bottom-xxx-sm">
    <OSS::InfiniteSelect @items={{@items}} @onSearch={{@onSearch}} @inline={{true}} @onSelect={{this.onSelect}}
                         @searchPlaceholder={{@searchPlaceholder}} @loading={{@loading}} @loadingMore={{@loadingMore}}
                         @onBottomReached={{@onBottomReached}}>
      <:option as |item|>
        {{yield item to="option-item"}}
      </:option>
    </OSS::InfiniteSelect>
  </div>
</div>
