<div class='oss-progress-bar'>
  {{#if @label}}
    <span class='oss-progress-bar--label'>
      {{@label}}
    </span>
  {{/if}}
  <div class='oss-progress-bar--outter'>
    <div
         class={{concat 'oss-progress-bar--inner ' this.computedStyles (concat ' oss-progress-bar--inner--' this.size)}}
         role='progressbar' aria-valuenow={{@value}}
         aria-valuemin='0' aria-valuemax='100' style={{progressBarInnerStyle}}>
    </div>
  </div>
  {{#if @displayValue}}
    <span class='oss-progress-bar--value'>
      {{@value}}%
    </span>
  {{/if}}
</div>
