<div class={{this.computedStyles}} ...attributes>
  {{#if @label}}
    <span class="oss-progress-bar__label">{{@label}}</span>
  {{/if}}

  <div class="oss-progress-bar__outer">
    {{#if this.hasSkins}}
      <div class="oss-progress-bar__segments">
        {{#each this.progressSegments as |skin|}}
          <div
            class={{this.getSegmentClasses skin=skin}}
            role="progressbar"
            aria-valuenow={{this.getSegmentValue skin=skin}}
            aria-valuemin="0"
            aria-valuemax="100"
            style={{this.progressBarStyle value=(this.getSegmentValue skin=skin)}}
          ></div>
        {{/each}}
      </div>
    {{else}}
      <div
        class={{this.progressBarInnerClasses}}
        role="progressbar"
        aria-valuenow={{@value}}
        aria-valuemin="0"
        aria-valuemax="100"
        style={{this.progressBarWidthStyle}}
      ></div>
    {{/if}}
  </div>

  {{#if @displayValue}}
    <span class="oss-progress-bar__value">
      {{this.totalProgress}}%
    </span>
  {{/if}}
</div>