<div class={{this.computedStyles}} ...attributes>
  {{#if @label}}
    <span class="oss-progress-bar__label">{{@label}}</span>
  {{/if}}

  <div class="oss-progress-bar__outer">
    {{#if this.hasSkins}}
      <div class="oss-progress-bar__segments">
        {{#if (eq this.totalProgress 0)}}
          <div
            class="oss-progress-bar__inner"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
            style={{this.progressBarStyle value=0}}
          ></div>
        {{else}}
          {{#each this.progressSegments as |skin|}}
            {{#if (this.isSegmentVisible skin=skin)}}
              <div
                class={{this.getSegmentClasses skin=skin}}
                role="progressbar"
                aria-valuenow={{this.getSegmentValue skin=skin}}
                aria-valuemin="0"
                aria-valuemax="100"
                style={{this.progressBarStyle value=(this.getSegmentValue skin=skin)}}
              ></div>
            {{/if}}
          {{/each}}
        {{/if}}
      </div>
    {{else}}
      <div
        class={{this.progressBarInnerClasses}}
        role="progressbar"
        aria-valuenow={{@value}}
        aria-valuemin="0"
        aria-valuemax="100"
        style={{this.progressBarWidthStyle}}
      ></div>
    {{/if}}
  </div>

  {{#if @displayValue}}
    <span class="oss-progress-bar__value">
      {{this.totalProgress}}%
    </span>
  {{/if}}
</div>