<div
  class={{this.classNames}}
  data-toggle="oss-dropdown"
  {{did-insert (fn this.ensureBlockPresence (has-block "option"))}}
  {{did-insert this.registerContainer}}
  {{will-destroy this.disconnectObserver}}
  ...attributes
>
  <div
    class="upf-input {{if this.isOpen 'active'}} fx-row fx-1 fx-xalign-center"
    {{on "click" this.toggleDropdown}}
    role="button"
  >
    <div class="fx-row fx-1 fx-malign-space-between fx-xalign-center">
      {{#if @value}}
        {{#if (has-block "selected")}}
          {{yield @value to="selected"}}
        {{else}}
          <span class="text-ellipsis">{{get @value this.targetValue}}</span>
        {{/if}}
      {{else}}
        <span class="upf-input--placeholder">{{this.placeholder}}</span>
      {{/if}}
      <OSS::Icon @icon="fa-chevron-{{if this.isOpen 'up' 'down'}}" class="margin-left-px-6" />
    </div>
  </div>

  {{#if this.isOpen}}
    {{#in-element this.portalTarget insertBefore=null}}
      {{#if (has-block "empty-state")}}
        <OSS::InfiniteSelect
          @items={{@items}}
          @onSearch={{this.onSearch}}
          @onSelect={{this.onSelect}}
          @searchEnabled={{this.searchEnabled}}
          @searchPlaceholder={{this.searchPlaceholder}}
          @enableKeyboard={{true}}
          @action={{this.actionArguments}}
          id={{this.portalId}}
          class={{concat "margin-top-px-0 oss-select-container__dropdown " this.dropdownAddressableClass}}
          {{on-click-outside this.onClickOutside useCapture=@captureClickOutside}}
          {{on "click" this.noop}}
        >
          <:option as |item index|>
            <div
              class="item-wrapper fx-row fx-xalign-center fx-malign-space-between {{if (eq @value item) 'selected'}}"
            >
              {{#if (has-block "option")}}
                {{yield item index to="option"}}
              {{/if}}

              {{#if (eq @value item)}}
                <OSS::Icon @icon="fa-check" class="font-color-primary-500 padding-right-px-6" />
              {{/if}}
            </div>
          </:option>
          <:empty-state>
            {{yield to="empty-state"}}
          </:empty-state>
        </OSS::InfiniteSelect>
      {{else}}
        <OSS::InfiniteSelect
          @items={{@items}}
          @onSearch={{this.onSearch}}
          @onSelect={{this.onSelect}}
          @searchEnabled={{this.searchEnabled}}
          @searchPlaceholder={{this.searchPlaceholder}}
          @enableKeyboard={{true}}
          @action={{this.actionArguments}}
          id={{this.portalId}}
          class={{concat "margin-top-px-0 oss-select-container__dropdown " this.dropdownAddressableClass}}
          {{on-click-outside this.onClickOutside useCapture=@captureClickOutside}}
          {{on "click" this.noop}}
        >
          <:option as |item index|>
            <div
              class="item-wrapper fx-row fx-xalign-center fx-malign-space-between {{if (eq @value item) 'selected'}}"
            >
              {{#if (has-block "option")}}
                {{yield item index to="option"}}
              {{/if}}

              {{#if (eq @value item)}}
                <OSS::Icon @icon="fa-check" class="font-color-primary-500 padding-right-px-6" />
              {{/if}}
            </div>
          </:option>
        </OSS::InfiniteSelect>
      {{/if}}
    {{/in-element}}
  {{/if}}

  {{#if @errorMessage}}
    <div class="font-color-error-500 margin-top-px-6 fx-row fx-gap-px-6 fx-xalign-center">
      <OSS::Icon @icon="fa-exclamation-triangle" />
      {{@errorMessage}}
    </div>
  {{/if}}

  {{#if @successMessage}}
    <div class="font-color-success-500 margin-top-px-6 fx-row fx-gap-px-6 fx-xalign-center">
      <OSS::Icon @icon="fa-check-circle" />
      {{@successMessage}}
    </div>
  {{/if}}
</div>