<div class="oss-side-panel {{if @visible 'oss-side-panel--visible'}}" {{will-destroy this.onDestroy}}>
  <div
    class="oss-side-panel__backdrop {{unless @backdrop 'oss-side-panel__backdrop--transparent'}}"
    {{on "click" @onClose}}
    {{on-click-outside this.onClickOutside}}
    {{did-insert this.initialize}}
  />
  <div class="oss-side-panel__content {{this.sidePanelSize}} {{unless @visible 'oss-side-panel__content--closed'}}">
    {{#if (has-block "header")}}
      <header class="oss-side-panel__header">
        {{yield to="header"}}
      </header>
    {{/if}}
    {{#if (has-block "main")}}
      <div class="oss-side-panel__main fx-col fx-1">
        {{yield to="main"}}
      </div>
    {{/if}}
    {{#if (has-block "footer")}}
      <footer class="oss-side-panel__footer fx-row fx-xalign-center">
        {{yield to="footer"}}
      </footer>
    {{/if}}
  </div>
</div>