<div class="oss-slider--container fx-gap-px-12 fx-xalign-center fx-malign-space-between">
  <div
    class="oss-slider--range-container"
    {{enable-tooltip placement="bottom" title=(concat this.currentRangeValue "%")}}
  >
    <input
      class="oss-slider--custom-range"
      type="range"
      min={{this.sliderOptions.min}}
      max={{this.sliderOptions.max}}
      value={{this.currentRangeValue}}
      step="1"
      {{on "input" this.onRangeInput}}
      {{did-insert this.initializeSlider}}
    />
  </div>
  {{#if @displayInputValue}}
    <div class="fx-row fx-xalign-center {{unless @unit 'border-radius-md'}}">
      <input
        class="oss-slider--number-input {{unless @unit 'border-radius-md'}}"
        type="number"
        min={{this.sliderOptions.min}}
        max={{this.sliderOptions.max}}
        value={{this.currentRangeValue}}
        {{on "input" this.onTextInput}}
      />
      {{#if @unit}}
        <span class="oss-slider--unit-container">
          {{@unit}}
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>