<div class="oss-slider__container {{if @disabled 'oss-slider__container--disabled'}}" ...attributes>
  <div class="oss-slider__range-container">
    <input
      class="oss-slider__range"
      type="range"
      min={{this.sliderOptions.min}}
      max={{this.sliderOptions.max}}
      value={{this.currentRangeValue}}
      step={{this.sliderOptions.step}}
      disabled={{@disabled}}
      style={{this.activeBackgroundWidth}}
      {{on "input" this.onRangeChange}}
      {{on "mouseenter" this.showTooltip}}
      {{on "mouseleave" this.removeTooltip}}
      {{did-insert this.initializeSliderInput}}
    />
    <div
      class="upf-tooltip oss-slider__tooltip
        {{unless this.displayTooltip 'oss-slider__tooltip--hidden'}}
        {{if (eq @displayInputValue false) 'oss-slider__tooltip__without_input'}}"
      style={{this.tooltipPositionStyle}}
      {{did-insert this.initializeTooltip}}
    >
      <span>
        {{#if @tooltipLabel}}
          {{@tooltipLabel}}
        {{else}}
          {{concat this.currentRangeValue (if (eq @unit "percentage") "%")}}
        {{/if}}
      </span>
    </div>
  </div>
  {{#if @displayInputValue}}
    <div class="oss-slider__number-input">
      {{#if @unit}}
        <OSS::InputGroup
          @value={{@value}}
          @type="number"
          @suffix={{this.unitIcon}}
          @placeholder={{this.currentRangeValue}}
          @disabled={{@disabled}}
          @autocomplete={{this.sliderOptions.autocomplete}}
          {{on "input" this.onNumberInput}}
        />
      {{else}}
        <Input
          @type="number"
          @value={{@value}}
          step={{this.sliderOptions.step}}
          min={{this.sliderOptions.min}}
          max={{this.sliderOptions.max}}
          placeholder={{this.currentRangeValue}}
          disabled={{@disabled}}
          autocomplete={{this.sliderOptions.autocomplete}}
          class="upf-input"
          {{on "input" this.onNumberInput}}
        />
      {{/if}}
    </div>
  {{/if}}
</div>