<div
  class="oss-slider--container fx-gap-px-12 fx-row fx-xalign-center {{if @disabled 'oss-slider--container--disabled'}}"
>
  <div class="oss-slider--range-container fx-1">
    <input
      class="oss-slider--custom-range"
      type="range"
      min={{this.sliderOptions.min}}
      max={{this.sliderOptions.max}}
      value={{this.currentRangeValue}}
      step="1"
      {{on "input" this.onRangeChange}}
      {{did-insert this.initializeSlider}}
      disabled={{@disabled}}
    />
    <div class="upf-tooltip oss-slider--tooltip">
      <span>{{concat this.currentRangeValue @unit}}</span>
    </div>
  </div>
  {{#if @displayInputValue}}
    <div class="fx-row fx-xalign-center {{unless @unit 'border-radius-md'}}">
      <input
        class="oss-slider--number-input {{unless @unit 'border-radius-md'}}"
        type="number"
        min={{this.sliderOptions.min}}
        max={{this.sliderOptions.max}}
        value={{this.currentRangeValue}}
        disabled={{@disabled}}
        {{on "input" this.onNumberInput}}
      />
      {{#if @unit}}
        <span class="oss-slider--unit-container">
          {{@unit}}
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>