<div class="star-rating fx-row">
  {{#each this.stars as |star index|}}
    <OSS::Icon class="{{unless this.disablePointerCursor 'no-pointer-cursor'}} {{this.activeColorClass}}"
               @style={{star.type}} @icon="fa-star"
               {{on "mouseenter" (fn this.onMouseEnter index)}}
               {{on "mouseleave" (fn this.onMouseLeave)}} />
  {{/each}}
</div>
