{{! @glint-nocheck: not typesafe yet }}
<div class={{this.computedClass}} ...attributes>
  {{#if @icon}}
    <i class={{@icon}}></i>
  {{/if}}

  {{#if @label}}
    <div class="text-style-semibold fx-row">
      {{#if @hasEllipsis}}
        <span>{{@label}}</span>
      {{else}}
        {{@label}}
      {{/if}}
    </div>
  {{/if}}
</div>
