<div class={{this.computedClass}} ...attributes>
  {{#if @icon}}
    <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
  {{/if}}

  {{#if @label}}
    {{#if @htmlSafe}}
      {{this.safeLabel}}
    {{else}}
      <div class='text-style-semibold fx-row'>
        {{#if @hasEllipsis}}
          <span>{{@label}}</span>
        {{else}}
          {{@label}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  {{#if @suffixIcon}}
    <OSS::Icon @style={{fa-icon-style @suffixIcon}} @icon={{fa-icon-value @suffixIcon}} />
  {{/if}}
</div>