<div class="fx-1">
  <div class="oss-textarea-container {{if @errorMessage ' oss-textarea-container--errored'}}" ...attributes>
    <Textarea
      @value={{@value}}
      placeholder={{@placeholder}}
      disabled={{@disabled}}
      rows={{this.rows}}
      class="oss-textarea {{this.computedClass}}"
      {{on "keyup" (fn this._onChange @value)}}
    />
  </div>
  {{#if @errorMessage}}
    <span class="font-color-error-500 margin-top-px-6">{{@errorMessage}}</span>
  {{/if}}
</div>