<div class={{concat "oss-tip" (if @active " oss-tip--active")}} ...attributes>
  {{#if (has-block "custom-icon")}}
    {{yield to="custom-icon"}}
  {{else if @icon}}
    <OSS::Icon @style={{fa-icon-style @icon}} class="font-color-gray-400" @icon={{fa-icon-value @icon}} />
  {{/if}}
  <div class="{{if @important 'font-weight-semibold'}} font-size-{{this.labelSize}}">{{@label}}</div>
  <OSS::Icon class="oss-tip__bulb-icon" @icon="fa-lightbulb-on" />
</div>