<div class="togglable-section fx-1 fx-col border fx-xalign-center" ...attributes>
  <div class="header-block fx-row {{this.paddingClass}} fx-gap-px-12 fx-xalign-center width-pc-100 inner-header
              {{if @toggled "background-color-gray-50"}}" {{on "click" this.onHeaderClick}} role="button">
    {{#if @iconUrl}}
      <img class="upf-badge upf-badge--size-md upf-badge--shape-round" src={{@iconUrl}} alt={{@title}} />
    {{else if @icon}}
      <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
    {{else if @badgeIcon}}
      <OSS::Badge @icon={{@badgeIcon}} />
    {{/if}}
    <div class="fx-col fx-1 fx-gap-px-3">
      <span class="font-weight-semibold font-size-md font-color-gray-900">{{@title}}</span>
      <span class="font-color-gray-500">{{@subtitle}}</span>
    </div>
    {{#if (and (has-block "header-actions"))}}
      {{yield to="header-actions"}}
    {{/if}}
    <OSS::ToggleSwitch @value={{@toggled}} @onChange={{this.noop}} @disabled={{@disabled}} />
  </div>
  {{#if (and (has-block "contents") @toggled)}}
    <hr class="margin-px-0 width-pc-100" />
    <div class="width-pc-100 {{this.paddingClass}} content-block">
      {{yield to="contents"}}
    </div>
  {{/if}}
</div>