<div class="oss-upload-area-container fx-1">
  {{#if this.displayUploadArea}}
    <div class={{this.computedClass}}
         {{on "dragover" this._allowDropEvent}}
         {{on "dragenter" this._onDragEnter}}
         {{on "dragleave" this._onDragLeave}}
         {{on "drop" this._onDrop}}
         {{on "click" this.triggerFileBrowser}}
         {{on "mouseenter" this._mouseEnter}}
         {{on "mouseleave" this._mouseLeave}}
         {{did-insert this.init}}
         ...attributes>
      <div class="fx-gap-px-18 fx-xalign-center {{if (eq this.size 'lg') 'fx-col' 'fx-row fx-1'}}">
        <div class={{this.computedClassIllustration}}>
          {{#if @disabled}}
            <img src={{asset-map (concat "@upfluence/oss-components/assets/images/upload-area/disabled-" this.size ".svg")}} />
          {{else}}
            <img src={{asset-map (concat "@upfluence/oss-components/assets/images/upload-area/default-" this.size ".svg")}} />
          {{/if}}
        </div>

        <div class="fx-col fx-gap-px-3 {{if (eq this.size 'lg') 'fx-xalign-center'}}">
          <div class={{if @disabled "font-color-gray-500" "font-color-gray-900"}}>
            {{#if @disabled}}
                {{t "oss-components.upload-area.drop_file.disabled"}}
            {{else}}
                {{t "oss-components.upload-area.drop_file.default"}}
              <OSS::Link @label={{t "oss-components.upload-area.browse"}} {{on "click" this.triggerFileBrowser}} />
            {{/if}}
          </div>

          {{#if @subtitle}}
            <span class="font-color-gray-500">
              {{@subtitle}}
            </span>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.selectedFiles}}
    {{!-- This forces the re-render by creating a new array after editing a file. --}}
    <div class="fx-col fx-gap-px-6 {{if this.multiple 'margin-top-px-12'}}">
      {{#each this.selectedFiles as |selectedFile index|}}
        <OSS::UploadItem
          @uploader={{@uploader}} @file={{selectedFile}}
          @rules={{@rules}} @scope={{this.scope}} @privacy={{this.filePrivacy}}
          @onEdition={{fn this.onFileEdition index}}
          @onDeletion={{fn this.onFileDeletion index}}
          @onUploadSuccess={{fn this.onUploadSuccess index}}
          @onUploadFailure={{fn this.onUploadFailure index}}
          @displayPreview={{@displayPreview}} />
      {{/each}}
    </div>
  {{/if}}

  <input type="file" {{on "change" this.onFileSelected}} {{did-insert this.assignFileInput}} />
</div>
