<section class='row'>
  <h3>Control Buttons</h3>
  <div class='col-xs-4'>
    <div class="upf-checkbox">
      {{input type='checkbox' class='upf-checkbox__input'
              id='unchecked-checkbox'}}
      <label for='unchecked-checkbox' class='upf-checkbox__fake-checkbox'></label>
    </div>

    <div class="upf-checkbox">
      {{input type='checkbox' class='upf-checkbox__input'
              id='checked-checkbox' checked=true}}
      <label for='checked-checkbox' class='upf-checkbox__fake-checkbox'></label>
    </div>

    <div class="upf-checkbox upf-checkbox--has-label">
      {{input type='checkbox' class='upf-checkbox__input' checked=true}}
      <label class='upf-checkbox__fake-checkbox'></label>
      <span class='upf-checkbox__label'>Checkbox with label</span>
    </div>
  </div>

  <div class='col-xs-4'>
    <div class='upf-toggle-btn'>
      {{x-toggle value='off' size='medium'}}
    </div>

    <br />

    <div class='upf-toggle-btn'>
      {{x-toggle value='on' size='medium'}}
    </div>
  </div>

  <div class='col-xs-4'>
    <div class="btn-group upf-radio-group">
      {{#each-in types as |label value|}}
        {{radio-button value=value
          currentValue=selectedFormat
          label=label
          options=types
          onCheck='typeChanged'}}
      {{/each-in}}
    </div>
  </div>
</section>
