{{#if header}}
  {{#if selection}}
    {{yield}}
  {{else}}
    <div>
      {{column.title}}
      {{#if _sorted }}
        &nbsp;<i class={{concat "fa " _sortingIconClass}}></i>
      {{/if}}
    </div>

    <div class="icon-commands">
      <i class="fa fa-filter" {{action "toggleFiltersPanel"}}></i>
      <i class="fa fa-bars fa-rotate-90"></i>
    </div>

    {{#if showFiltersPanel}}
      {{component _filtersRenderingComponent item=item column=column}}
    {{/if}}
  {{/if}}
{{else}}
  {{#if loading}}
    <div class="skeleton-placeholder"></div>
  {{else if (has-block)}}
    {{yield}}
  {{else}}
    {{component _renderingComponent item=item column=column}}
  {{/if}}
{{/if}}
