{{#if column.titleIcon}}
  <i class='fa fa-{{column.titleIcon}}'></i>
{{else}}
  {{column.title}}
{{/if}}

{{#if column.tooltip}}
  <fa class='fa fa-info-circle' data-toggle='tooltip' title={{column.tooltip}}></fa>
{{/if}}

{{#if column.subtitle}}
  <div class='subtitle text-size-4'>{{column.subtitle}}</div>
{{/if}}