{{#if column.titleIcon}}
  <i class="fa fa-{{column.titleIcon}}"></i>
{{else}}
  {{column.title}}
{{/if}}

{{#if column.tooltip}}
  <OSS::Icon @icon="fa-info-circle" @style="solid" {{enable-tooltip title=column.tooltip placement="top"}} />
{{/if}}

{{#if column.subtitle}}
  <div class="subtitle text-size-4">{{column.subtitle}}</div>
{{/if}}
