<span class="text-color-contrast text-size-6">{{from}} to {{to}} out of {{itemTotal}} {{itemName}}</span>
<a class="upf-link--reset" {{action 'previousPage'}}>{{fa-icon 'fa-caret-left'}}</a>
<a class="upf-link--reset" {{action 'nextPage'}}>{{fa-icon 'fa-caret-right'}}</a>
