<span class="text-size-5 margin-left-xx-sm">{{from}} to {{to}} out of {{itemTotal}} {{itemName}}</span>
<a class="upf-link--reset margin-left-xx-sm {{unless hasPrevious 'disabled'}}" {{action 'previousPage'}}>{{fa-icon 'fa-caret-left'}}</a>
<a class="upf-link--reset {{unless hasNext 'disabled'}}" {{action 'nextPage'}}>{{fa-icon 'fa-caret-right'}}</a>
