<span class="text-size-5 margin-left-px-12">{{this.from}} to {{this.to}} out of {{this.itemTotal}} {{this.itemName}}</span>

<OSS::Button @icon="fa fa-caret-left" class="margin-left-px-12" disabled={{not this.hasPrevious}} {{action "previousPage"}} />
<OSS::Button @icon="fa fa-caret-right" class="margin-left-px-12" disabled={{not this.hasNext}} {{action "nextPage"}} />
