<OSS::Anchor
  @link={{@link}}
  {{on "click" this.onClick}}
  class="oss-sidebar-item"
  disabled={{if this.locked "disabled"}}
  ...attributes
>
  {{#if this.locked}}
    <div class="oss-sidebar-item--locked">
      <OSS::Icon @style="light" @icon="fa-lock" />
    </div>
  {{/if}}
  <div class="oss-sidebar-item--icon">
    <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
  </div>
  {{#if @tag}}
    <div class="oss-sidebar-item--tag">
      <OSS::Tag @label={{@tag.label}} @skin={{@tag.skin}} @icon={{@tag.icon}} @size="xs" />
    </div>
  {{/if}}
  {{#if this.hasNotifications}}
    <span class="oss-sidebar-item--notification" />
  {{/if}}
</OSS::Anchor>