<OSS::Anchor
  @link={{@link}}
  class={{this.computedClasses}}
  disabled={{this.locked}}
  {{on "click" this.onClick}}
  ...attributes
>
  {{#if this.locked}}
    <div class="oss-sidebar-item__lock">
      <OSS::Icon @icon="fa-lock" />
    </div>
  {{/if}}

  {{#if (has-block "icon")}}
    <div class="oss-sidebar-item__icon">
      {{yield (hash expanded=@expanded) to="icon"}}
    </div>
  {{else}}
    <div class="oss-sidebar-item__icon">
      <OSS::Icon @style={{fa-icon-style @icon}} @icon={{fa-icon-value @icon}} />
    </div>
  {{/if}}

  <div class="oss-sidebar-item__label">
    {{@label}}
  </div>

  {{#if this.hasNotifications}}
    <div class="oss-sidebar-item__notification"></div>
  {{/if}}
</OSS::Anchor>