<div {{did-insert this.registerPanelContainer}}>
  {{#if this.isInitialized}}
    {{#in-element this.portalTarget insertBefore=null}}
      <OSS::ScrollablePanel
        id={{this.portalId}}
        class="context-menu-panel__scrollable-container"
        {{did-insert this.registerPanel}}
        {{on "mouseleave" this.mouseLeave}}
        {{on "scroll" this.onScroll}}
        ...attributes
      >
        <OSS::InfiniteSelect
          @items={{@items}}
          @searchEnabled={{false}}
          @onSelect={{this.noop}}
          @onClose={{this.closeDropdown}}
          @enableKeyboard={{false}}
          class="margin-top-px-0 context-menu-panel__dropdown"
          {{on-click-outside this.onClickOutside}}
          {{did-insert this.registerPanel}}
        >
          <:option as |item index|>
            {{#if item.items}}
              <OSS::InfiniteSelect::Option
                @prefixAvatar={{item.prefixAvatar}}
                @prefixBadge={{item.prefixBadge}}
                @prefixIcon={{item.prefixIcon}}
                @prefixCountry={{item.prefixCountry}}
                @title={{item.title}}
                @subtitle={{item.subtitle}}
                @icon={{item.icon}}
                @suffixHint={{item.suffixHint}}
                @suffixTag={{item.suffixTag}}
                @suffixIcon={{or item.suffixIcon (hash icon="fa-chevron-right")}}
                @selectionType={{item.selectionType}}
                @selected={{item.selected}}
                @disabled={{item.disabled}}
                @onSelect={{item.action}}
                {{on "mouseenter" (fn this.openSubMenu item.items index)}}
                {{on "click" (fn this.toggleSubMenu item.items index)}}
                class="infinit-select-option-panel-container {{if (eq index subReferenceIndex) 'active' ''}}"
              />
            {{else if item.rowRenderer}}
              <item.rowRenderer @item={{item}} />
            {{else}}
              <OSS::InfiniteSelect::Option
                @prefixAvatar={{item.prefixAvatar}}
                @prefixBadge={{item.prefixBadge}}
                @prefixIcon={{item.prefixIcon}}
                @prefixCountry={{item.prefixCountry}}
                @title={{item.title}}
                @subtitle={{item.subtitle}}
                @icon={{item.icon}}
                @suffixHint={{item.suffixHint}}
                @suffixTag={{item.suffixTag}}
                @suffixIcon={{item.suffixIcon}}
                @selectionType={{item.selectionType}}
                @selected={{item.selected}}
                @disabled={{item.disabled}}
                @onSelect={{item.action}}
                {{on "mouseenter" this.closeSubMenu}}
                {{on "click" this.closeSubMenu}}
                class="infinit-select-option-panel-container"
              />
            {{/if}}
          </:option>
        </OSS::InfiniteSelect>
      </OSS::ScrollablePanel>
    {{/in-element}}

    {{#if this.displaySubMenu}}
      <OSS::ContextMenu::Panel
        @referenceTarget={{this.subReferenceTarget}}
        @items={{this.subItems}}
        @placement="right-start"
        @offset={{this.subPanelOffset}}
        @onMouseLeave={{this.onSubPanelMouseLeave}}
        {{did-insert this.registerSubPanel}}
      />
    {{/if}}
  {{/if}}
</div>