<div
  class={{this.computedClasses}}
  id={{this.inputId}}
  {{did-insert this.registerElement}}
  {{did-update this.runAnimationOnLoadEnd @loading}}
  ...attributes
>
  <div class="smart-immersive-currency-input fx-row">
    <div
      class="currency-selector fx-row fx-gap-px-12 fx-malign-space-between fx-xalign-center"
      role={{if this.allowCurrencyUpdate "button" "img"}}
      {{on "click" this.toggleCurrencySelector}}
    >
      <div class="fx-col">
        <div class="fx-row fx-gap-px-9">
          <span>{{this.selectedCurrencySymbol}}</span>
        </div>
      </div>

      {{#if this.allowCurrencyUpdate}}
        <OSS::Icon
          @icon="{{if this.currencySelectorShown 'fa-chevron-up' 'fa-chevron-down'}}"
          class="margin-left-px-6"
        />
      {{/if}}
    </div>
    {{#if @loading}}
      <div class="loading-placeholder fx-row fx-xalign-center">
        <span class="rainbow-text-animated">{{@placeholder}}</span>
      </div>
    {{else}}
      <div class="input-container">
        <span class="hidden-span">{{or @value @placeholder}}</span>
        <Input
          class="displayed-input"
          @value={{@value}}
          @type="text"
          min="0"
          autocomplete="off"
          placeholder={{this.placeholder}}
          disabled={{@disabled}}
          {{on "keydown" this.onlyNumeric}}
          {{on "keyup" (fn this.onChange @currency @value)}}
          {{on "paste" this.handlePaste}}
        />
      </div>
    {{/if}}
  </div>
  {{#if this.currencySelectorShown}}
    {{#in-element this.portalTarget insertBefore=null}}
      <OSS::InfiniteSelect
        @items={{this.filteredCurrencies}}
        @onSearch={{this.onSearch}}
        @onSelect={{this.onSelect}}
        @searchPlaceholder={{t "oss-components.currency-input.search"}}
        class={{concat "margin-top-px-0 " this.dropdownAddressableClass}}
        id={{this.portalId}}
        {{on-click-outside this.hideCurrencySelector}}
      >
        <:option as |currency|>
          <div class="fx-row fx-xalign-center {{if (eq this.selectedCurrency currency) 'row-selected'}}">
            <span class="symbol text-color-default-light margin-left-xx-sm">{{currency.symbol}}</span>
            <span class="text-color-default-light margin-left-xx-sm fx-1">{{currency.code}}</span>
            {{#if (eq this.selectedCurrency currency)}}
              <OSS::Icon @icon="fa-check" class="font-color-primary-500 padding-right-px-6" />
            {{/if}}
          </div>
        </:option>
      </OSS::InfiniteSelect>
    {{/in-element}}
  {{/if}}
</div>