Test content goes here.

<div class='fx-col'>
  <div class='fx-row padding-bottom-sm'>
    <button {{on "click" (fn this.triggerToast "success")}}>success</button>
    <button {{on "click" (fn this.triggerToast "error")}}>error</button>
    <button {{on "click" (fn this.triggerToast "warning")}}>warning</button>
    <button {{on "click" (fn this.triggerToast "info")}}>info</button>
  </div>

  <div class='fx-row padding-sm fx-xalign-center'>
    <OSS::Button @label="Test" />
    <OSS::Button @size="xs" @label="X-Small" />
    <OSS::Button @size="s" @label="Small" />
    <OSS::Button @loading="true" @label="Loading" />
    <OSS::Button @skin="primary" @label="Primary" />
    <OSS::Button @skin="secondary" @label="Secondary" />
    <OSS::Button @skin="destructive" @label="Destructive" />
    <OSS::Button @skin="instagram" @label="Instagram" />
    <OSS::Button @skin="youtube" @label="Youtube" />
  </div>

  {{!-- <div class='fx-row padding-bottom-sm'> --}}
    {{!-- <OSS::Button @loading={{this.loading}} {{on "click" this.toggleLoading}}>{{this.input}}</OSS::Button> --}}
    {{!-- <OSS::InputContainer @value={{this.input}} /> --}}
  {{!-- </div> --}}
</div>
