<div class="fx-row">
  <OSS::Layout::Sidebar @logo="/assets/images/upfluence-white-logo.svg" @homeAction={{fn this.redirectTo "/"}}>
    <:content>
      <OSS::Layout::Sidebar::Item
        @icon="far fa-message-plus"
        class={{if (eq this.router.currentRouteName "index") "active"}}
        @link="index"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-input-text"
        class={{if (eq this.router.currentRouteName "input") "active"}}
        @link="input"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-toggle-on"
        class={{if (eq this.router.currentRouteName "visual") "active"}}
        @link="visual"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-line-columns"
        class={{if (eq this.router.currentRouteName "data") "active"}}
        @link="data"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-window-restore"
        class={{if (eq this.router.currentRouteName "overlay") "active"}}
        @link="overlay"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-link"
        class={{if (eq this.router.currentRouteName "extra") "active"}}
        @link="extra"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-lock"
        @locked={{true}}
        @defaultAction={{fn this.redirectTo "credit-card"}}
        @lockedAction={{fn this.redirectTo "locked credit-card"}}
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-bullhorn"
        @defaultAction={{fn this.redirectTo "pointer"}}
        @hasNotifications={{true}}
      />
    </:content>
    <:footer>
      <OSS::Layout::Sidebar::Item @icon="fal fa-info-circle" />
      <OSS::Avatar
        @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
        @initials="Ts"
      />
    </:footer>
  </OSS::Layout::Sidebar>

  <div style="width:100%; height:100vh; overflow: auto; background-color: var(--color-gray-50)">
    {{outlet}}
  </div>
</div>