<div class='row-fluid'>
  {{#app-base headerStyle=headerStyle menuItems=menuItems}}
    {{#app-header headerStyle=headerStyle}}
      {{#if isTopbarStyle}}
        {{partial 'partials/topbar-menu'}}
      {{else}}
        {{partial 'partials/sidebar-menu'}}
      {{/if}}
    {{/app-header}}

    <div class={{mainContentContainerClass}}>
      {{outlet}}
    </div>
  {{/app-base}}
</div>
