<div class="fx-row fx-gap-px-10 margin-md fx-xalign-center">
  <OSS::Avatar @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" />
  <OSS::Avatar @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" @size="xs" />
  <OSS::Avatar @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" @size="sm" />
  <OSS::Avatar @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" @size="md" />
  <OSS::Avatar @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" @size="lg" />
  <OSS::Avatar @image="https://reachr-assets.s3.us-wes-2.amazonaws.com/influencer-server/influencer/7219681.png"
               @initials="Ts" @size="md" />
</div>

<div class="fx-row fx-gap-px-10 margin-md fx-xalign-center">
  <OSS::Avatar @initials="MI" />
  <OSS::Avatar @initials="MI" @size="xs" />
  <OSS::Avatar @initials="MI" @size="sm" />
  <OSS::Avatar @initials="MI" @size="md" />
  <OSS::Avatar @initials="MI" @size="lg" />
</div>

<div class="fx-row fx-gap-px-10 margin-md fx-xalign-center">
  <OSS::Avatar />
  <OSS::Avatar @size="xs" />
  <OSS::Avatar @size="sm" />
  <OSS::Avatar @size="md" />
  <OSS::Avatar @size="lg" />
</div>

<div class="fx-row fx-gap-px-10 margin-md">
  <OSS::PowerSelect @items={{this.superHeroes}} @selectedItems={{this.superHeroes}}
                    @onChange={{this.onPowerSelectChange}} @onSearch={{this.onPowerSelectSearch}}>
    <:selected-item as |selectedProduct|>
      <OSS::Chip @label={{selectedProduct}} @onRemove={{fn this.onPowerSelectChange }} @maxDisplayWidth={{100}} />
    </:selected-item>
    <:option-item as |item|>
      {{item}}
    </:option-item>
  </OSS::PowerSelect>

  <OSS::PowerSelect @items={{this.superHeroes}} @selectedItems={{null}}
                    @onChange={{this.onPowerSelectChange}} @onSearch={{this.onPowerSelectSearch}}>
    <:selected-item as |selectedProduct|>
      <OSS::Chip @label={{selectedProduct}} @onRemove={{fn this.onPowerSelectChange }} @maxDisplayWidth={{100}} />
    </:selected-item>
    <:option-item as |item|>
      {{item}}
    </:option-item>
  </OSS::PowerSelect>
</div>
<div class="fx-row fx-gap-px-10 margin-md">
  <OSS::NavTab @onSelection={{this.onSelectionNavTab}} @tabArray={{this.tabArrayNavTab}} />
</div>

<div class="fx-row fx-gap-px-10 margin-md">
  <OSS::Chip @label="Chip" @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="default" @label="Chip" @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="primary" @label="Chip" @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="success" @label="Chip" @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="danger" @label="Chip" @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="danger" @label="Chip" @disabled={{true}} @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="success" @label="Chip with a huge label" @disabled={{false}} @maxDisplayWidth={{100}}
             @onRemove={{this.onCrossChipClick}} />
  <OSS::Chip @skin="danger" @label="Chip with a huge label" @disabled={{false}} @maxDisplayWidth={{160}}
             @onRemove={{this.onCrossChipClick}} />
  <OSS::ChipNFish @skin="danger" @label="Chip with a huge label" @disabled={{true}} @onRemove={{this.onCrossChipClick}}
                  @maxDisplayWidth={{50}} />
</div>

<div class="fx-row fx-gap-px-10 margin-md">
  <div class="fx-col fx-1 fx-gap-px-5">
    <span>Country</span>
    <OSS::CountrySelector @sourceList={{this.countries}} @onChange={{this.onCountrySelected}} />
  </div>
  {{#if (gt this.selectedCountry.provinces.length 0)}}
    <div class="fx-col fx-1 fx-gap-px-5">
      <span>Province</span>
      <OSS::CountrySelector @sourceList={{this.selectedCountry.provinces}} @onChange={{this.onProvinceSelected}} />
    </div>
  {{/if}}
</div>
<div class="fx-row fx-1 margin-md fx-gap-px-12">
  <div class="fx-col fx-1 fx-gap-px-12">
    <OSS::Select @value={{null}} @items={{this.items}} @onChange={{this.onSelect}}>
      <:option as |item|>
        {{item.name}}
      </:option>
    </OSS::Select>

    <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}}>
      <:option as |item|>
        {{item.name}}
      </:option>
    </OSS::Select>

    <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}}
                 @errorMessage="This is an error">
      <:option as |item|>
        {{item.name}}
      </:option>
    </OSS::Select>

    <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}}
                 @successMessage="It works">
      <:option as |item|>
        {{item.name}}
      </:option>
    </OSS::Select>
  </div>

  <div class="fx-col fx-1 fx-gap-px-12">
    <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}} @disabled={{true}}>
      <:option as |item|>
        {{item.name}}
      </:option>
    </OSS::Select>
  </div>
</div>
<div class="fx-row fx-1 margin-md">
  <OSS::CurrencyInput @currency={{this.currency}} @value={{this.currencyValue}}
                      @onChange={{this.onCurrencyInputChange}} @errorMessage="This is an error message" />
</div>
<div class="fx-row fx-1 margin-md">
  <OSS::CurrencyInput @currency={{this.currency}} @value={{this.currencyValue}}
                      @onChange={{this.onCurrencyInputChange}} />
</div>
<div class="fx-row fx-1 margin-md">
  <OSS::CurrencyInput @currency={{this.currency}} @value={{this.currencyValue}} @onChange={{this.onCurrencyInputChange}}
                      @onlyCurrency={{true}} />
</div>
<div class="fx-row fx-1 margin-md">
  <div class="fx-col">
    <OSS::CurrencyInput @currency={{this.currencyOnly}} @onChange={{this.onCurrencyOnlyChange}}
                        @onlyCurrency={{true}} />
  </div>
</div>
<div class="fx-row fx-1 margin-md">
  <OSS::ArrayInput @values={{this.superHeroes}} @onChange={{this.updateSuperHeroes}} class="fx-1"
                   data-control-name="mailing-edit-template-ccs-input" />
</div>
<div class="fx-row fx-gap-px-12 margin-md">
  <OSS::Tag @label="Tag" @skin="primary" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @skin="success" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @skin="warning" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @skin="danger" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @skin="secondary" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Tag" @skin="secondary" />
  <OSS::Tag @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Test with a huge label sentence" @skin="danger" @icon="far fa-thumbs-up" />
  <OSS::Tag @label="Test with a huge label sentence"
            {{enable-tooltip title='Test with a huge label sentence' placement='top'}} @skin="danger"
            @icon="far fa-thumbs-up" @hasEllipsis={{true}} />
</div>

<div class="fx-row fx-gap-px-12 margin-md">
  <OSS::Alert @title="Title" @subtitle="Subtitle">
    <:extra-content>
      <div class="fx-row fx-gap-px-12">
        <OSS::Link @label="Super Label" />
        <OSS::Link @label="Super Label 2" />
      </div>
    </:extra-content>
  </OSS::Alert>
</div>
<div class="fx-row fx-gap-px-12 margin-md">
  <OSS::Alert @title="TitleTest" @subtitle="SubtitleTest" @plain={{false}} @closable={{true}} />
  <OSS::Alert @title="Title" @subtitle="Subtitle" />
  <OSS::Alert @skin="error" @title="Title" @subtitle="Subtitle" />
</div>
<div class="fx-row fx-gap-px-12 margin-md">
  <OSS::Alert @skin="success" @title="Title" />
  <OSS::Alert @skin="warning" @subtitle="Subtitle" />
</div>
<div class="fx-row fx-gap-px-12 margin-md">
  <OSS::Button @label="Info" @size="md" {{on "click" (fn this.triggerToast "info")}} />
  <OSS::Button @label="Success" @size="md" {{on "click" (fn this.triggerToast "success")}} />
  <OSS::Button @label="Warning" @size="md" {{on "click" (fn this.triggerToast "warning")}} />
  <OSS::Button @label="Error" @size="md" {{on "click" (fn this.triggerToast "error")}} />
</div>
<div class="fx-col fx-gap-px-12 margin-md">
  <OSS::CodeBlock @content={{this.code4CodeBlock}} @scrollable={{true}} @copyable={{true}} @collapseHeight={{200}}
                  @onCopyMessage="Copied to clipboard!" />
</div>
<div class="fx-col fx-gap-px-12 margin-md">
  <OSS::Button @skin="primary" @size="md" @label="Open MODAL" @icon="fa fa-unicorn" {{on "click" this.openModal}} />
  {{#if this.showModal}}
    <OSS::ModalDialog @title="Example modal" @subtitle="subtitle" @close={{this.closeModal}} @size="md">
      <:content>
        <div style="height: 200px; background-color: white">
          azeazeazeaze
        </div>
      </:content>
      <:footer>
        <div class="fx-1">
          <i class="fa fa-info"></i><a href="">More info</a>
        </div>
        <div class="fx-row fx-gap-px-12">
          <OSS::Button @skin="default" @label="Close" {{on "click" this.closeModal}} />
          <OSS::Button @skin="secondary" @label="Save" />
        </div>
      </:footer>
    </OSS::ModalDialog>
  {{/if}}
</div>
<div class="fx-col fx-gap-px-12 margin-md">
  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="destructive" @label="destructive" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="destructive" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="alert" @label="alert" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="alert" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="secondary" @label="secondary" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="secondary" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="default" @label="default" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="default" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="success" @label="success" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="success" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="tertiary" @label="tertiary" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="tertiary" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
  </div>
  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-orange" @label="Extended orange" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-orange" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-yellow" @label="Extended yellow" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-yellow" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-lime" @label="Extended lime" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-lime" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-cyan" @label="Extended Cyan" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-cyan" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-blue" @label="Extended blue" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-blue" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="xtd-violet" @label="Extended violet" @icon="fas fa-plus" @size="md" />
      <OSS::Button @skin="xtd-violet" @square="true" @icon="fas fa-plus" @size="md" />
    </div>
  </div>
  <div class="fx-row fx-gap-px-12">
    <OSS::Button @skin="primary" @size="xs" @label="XS" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="sm" @label="SM" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="md" @label="MD" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="lg" @label="LG" @icon="far fa-envelope-open" />
  </div>
  <div class="fx-row fx-gap-px-12">
    <OSS::Button @square="true" @skin="primary" @size="sm" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="md" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="lg" @icon="far fa-envelope-open" />
  </div>

  <div class="fx-row fx-gap-px-12 fx-xalign-center">
    <OSS::Badge @icon="fas fa-box-open" @size="lg" />
    <OSS::Badge @icon="fas fa-box-open" />
    <OSS::Badge @size="md" @icon="fas fa-box-open" />
    <OSS::Badge @size="sm" @icon="fas fa-box-open" />
  </div>

  <div class="fx-row fx-gap-px-12 fx-xalign-center">
    <OSS::Badge @icon="fas fa-box-open" @skin="primary" />
    <OSS::Badge @icon="fas fa-box-open" @skin="primary" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="success" />
    <OSS::Badge @icon="fas fa-box-open" @skin="success" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="alert" />
    <OSS::Badge @icon="fas fa-box-open" @skin="alert" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="error" />
    <OSS::Badge @icon="fas fa-box-open" @skin="error" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-orange" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-orange" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-yellow" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-yellow" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-lime" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-lime" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-cyan" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-cyan" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-blue" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-blue" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-violet" />
    <OSS::Badge @icon="fas fa-box-open" @skin="xtd-violet" @plain={{true}} />
  </div>

  <div class="fx-row fx-gap-px-12 fx-xalign-center">
    <OSS::Badge @text="2x" @size="lg" />
    <OSS::Badge @text="2x" />
    <OSS::Badge @text="2x" @size="sm" />
  </div>

  <div class="fx-row fx-gap-px-12 fx-xalign-center">
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
                @size="lg" />
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png" />
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
                @size="sm" />
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-12">
      <OSS::Button @skin="destructive" @label="Count down" @icon="far fa-hourglass" @size="md"
                   @countDown={{hash callback=this.countDownAction}} />
    </div>
  </div>
  <div class="fx-row fx-1">
    <OSS::PhoneNumberInput @prefix={{this.phonePrefix}} @number={{this.phoneNumber}}
                           @onChange={{this.onPhoneNumberChange}} />
  </div>
  <div class="fx-col">
    <OSS::StarRating @rating={{3}} @totalStars={{5}} />
    <OSS::StarRating @rating={{12}} @totalStars={{15}} @activeColor="red" @passiveColor="blue" />
  </div>
  <div class="fx-col fx-gap-px-12">
    <OSS::Banner @icon="fas fa-box-open" @title="Import creators inside your campaign"
                 @subtitle="Choose the creators you want to import from a list, emailing, stream, Live capture or upload an existing .CSV file. ">
      <:custom-icon>
        <OSS::Badge @text="2x" @size="lg" />
      </:custom-icon>
      <:actions>
        <OSS::Button @skin="primary" @label="browse" @icon="fas fa-box-open" @size="md" />
        <OSS::Button @skin="secondary" @label="test" @icon="fas fa-box-open" @size="md" />
      </:actions>
    </OSS::Banner>
    <OSS::Banner @icon="fas fa-box-open" @title="Import creators inside your campaign"
                 @subtitle="Choose the creators you want to import from a list, emailing, stream, Live capture or upload an existing .CSV file. " />
    <OSS::Bruce @image="https://thepressfree.com/wp-content/uploads/2021/11/Voici-pourquoi-Bruce-Banner-netait-plus-Smart-Hulk-dans-la-800x445.jpg"
                @title="Import creators inside your campaign" @plain={{true}}
                @subtitle="Choose the creators you want to import from a list, emailing, stream, Live capture or upload an existing .CSV file. ">
      <:actions>
        <OSS::Button @skin="secondary" @label="action" @icon="fas fa-box-open" @size="md" />
      </:actions>
    </OSS::Bruce>
  </div>
</div>

<div class="upf-table-v2 margin-md">
  <div class="upf-table__header">
    {{#each this.tableDemo.header as |header|}}
      <div class="upf-table__cell {{header.class}}">
        {{header.title}}
      </div>
    {{/each}}
  </div>

  <div class="upf-table__content">
    {{#each this.tableDemo.header as |header index|}}
      <div class="upf-table__row">
        {{#each this.tableDemo.header as |header index|}}
          <div class="upf-table__cell {{header.class}}">
            {{#if header.title}}
              <OSS::Tag @skin="primary" @label="Hello" />
            {{else}}
              <i class="fa fa-chevron-right"></i>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

<div class="upf-table-v2 upf-table-v2--clickable margin-md">
  <div class="upf-table__header">
    {{#each this.tableDemo.header as |header|}}
      <div class="upf-table__cell {{header.class}}">
        {{header.title}}
      </div>
    {{/each}}
  </div>

  <div class="upf-table__content">
    {{#each this.tableDemo.header as |header index|}}
      <div class="upf-table__row" role="button">
        {{#each this.tableDemo.header as |header index|}}
          <div class="upf-table__cell {{header.class}}">
            {{#if header.title}}
              Content {{index}}
            {{else}}
              <i class="fa fa-chevron-right"></i>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

<div class="fx-col fx-gap-px-12 padding-px-24">
  <div class="fx-row fx-gap-px-12">
    <div class="fx-1">
      <OSS::UploadArea
        @uploader={{this.mockUploader}} @rules={{array (hash type="filesize" value="8MB")}} @size="lg"
        @subtitle="JPG, PNG, PDF (Max 800x400px - 2MB)" @onUploadSuccess={{this.onUploadSuccess}}/>
    </div>

    <div class="fx-1">
      <OSS::UploadArea
        @uploader={{this.mockUploader}} @rules={{array (hash type="filesize" value="8MB")}}
        @subtitle="JPG, PNG, PDF (Max 800x400px - 2MB)" @onUploadSuccess={{this.onUploadSuccess}}/>
    </div>
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-1">
      <OSS::UploadArea
        @uploader={{this.mockUploader}} @rules={{array (hash type="filesize" value="8MB")}} @size="lg"
        @disabled={{true}} @subtitle="JPG, PNG, PDF (Max 800x400px - 2MB)" @onUploadSuccess={{this.onUploadSuccess}}/>
    </div>

    <div class="fx-1">
      <OSS::UploadArea
        @uploader={{this.mockUploader}} @rules={{array (hash type="filesize" value="8MB")}}
        @disabled={{true}} @subtitle="JPG, PNG, PDF (Max 800x400px - 2MB)" @onUploadSuccess={{this.onUploadSuccess}}/>
    </div>
  </div>
</div>
