<div class="fx-row">
  <OSS::Layout::Sidebar @logo="/assets/images/upfluence-white-logo.svg" @homeAction={{fn this.redirectTo "/"}}>
    <:content>
      <OSS::Layout::Sidebar::Item
        @icon="far fa-search"
        class={{if (eq this.router.currentRouteName "index") "active"}}
        @link="index"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-computer-mouse-scrollwheel"
        class={{if (eq this.router.currentRouteName "scrollable") "active"}}
        @link="scrollable"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-arrow-pointer"
        class={{if (eq this.router.currentRouteName "actionable") "active"}}
        @link="actionable"
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-lock"
        @locked={{true}}
        @defaultAction={{fn this.redirectTo "credit-card"}}
        @lockedAction={{fn this.redirectTo "locked credit-card"}}
      />
      <OSS::Layout::Sidebar::Item
        @icon="far fa-bullhorn"
        @defaultAction={{fn this.redirectTo "pointer"}}
        @hasNotifications={{true}}
      />
    </:content>
    <:footer>
      <OSS::Layout::Sidebar::Item @icon="fal fa-info-circle" />
      <OSS::Avatar
        @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
        @initials="Ts"
      />
    </:footer>
  </OSS::Layout::Sidebar>

  <div style="width:100%; height:100vh; overflow: auto; background-color: var(--color-gray-50)">
    {{outlet}}
  </div>
</div>
