Test content goes here.

<div class='fx-col'>
  <div class='fx-row padding-bottom-sm'>
    <button {{on "click" (fn this.triggerToast "success")}}>success</button>
    <button {{on "click" (fn this.triggerToast "error")}}>error</button>
    <button {{on "click" (fn this.triggerToast "warning")}}>warning</button>
    <button {{on "click" (fn this.triggerToast "info")}}>info</button>
  </div>

  <div class='fx-row padding-bottom-sm fx-xalign-center'>
    <OSS::Button>Test</OSS::Button>
    <OSS::Button @size="xs">X-Small</OSS::Button>
    <OSS::Button @size="s">Small</OSS::Button>
    <OSS::Button @loading="true">Loading</OSS::Button>
    <OSS::Button @skin="primary">Primary</OSS::Button>
    <OSS::Button @skin="secondary">Secondary</OSS::Button>
    <OSS::Button @skin="destructive">Destructive</OSS::Button>
    <OSS::Button @skin="social-instagram">Instagram</OSS::Button>
    <OSS::Button @skin="social-facebook">Facebook</OSS::Button>
    <OSS::Button @skin="social-youtube">Youtube</OSS::Button>
  </div>

  <div class='fx-row padding-bottom-sm'>
    <OSS::Button @loading={{this.loading}} {{on "click" this.toggleLoading}}>{{this.input}}</OSS::Button>
    <OSS::InputContainer @value={{this.input}} />
  </div>
</div>
