<div class="fx-col fx-gap-px-10 margin-md">
  <div class="fx-row fx-gap-px-10">
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="destructive" @label="destructive" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="destructive" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="alert" @label="alert" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="alert" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="secondary" @label="secondary" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="secondary" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="default" @label="default" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="default" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
    <div class="fx-col fx-gap-px-10">
      <OSS::Button @skin="success" @label="success" @icon="fas fa-box-open" @size="md" />
      <OSS::Button @skin="success" @square="true" @icon="fas fa-box-open" @size="md" />
    </div>
  </div>
  <div class="fx-row fx-gap-px-10">
    <OSS::Button @skin="primary" @size="xs" @label="XS" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="sm" @label="SM" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="md" @label="MD" @icon="far fa-envelope-open" />
    <OSS::Button @skin="primary" @size="lg" @label="LG" @icon="far fa-envelope-open" />
  </div>
  <div class="fx-row fx-gap-px-10">
    <OSS::Button @square="true" @skin="primary" @size="sm" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="md" @icon="far fa-envelope-open" />
    <OSS::Button @square="true" @skin="primary" @size="lg" @icon="far fa-envelope-open" />
  </div>

  <div class="fx-row fx-gap-px-10 fx-xalign-center">
    <OSS::Badge @icon="fas fa-box-open" @size="lg" />
    <OSS::Badge @icon="fas fa-box-open" />
    <OSS::Badge @size="md" @icon="fas fa-box-open" />
    <OSS::Badge @size="sm" @icon="fas fa-box-open" />
  </div>

  <div class="fx-row fx-gap-px-10 fx-xalign-center">
    <OSS::Badge @icon="fas fa-box-open" @skin="primary" />
    <OSS::Badge @icon="fas fa-box-open" @skin="primary" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="success" />
    <OSS::Badge @icon="fas fa-box-open" @skin="success" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="alert" />
    <OSS::Badge @icon="fas fa-box-open" @skin="alert" @plain={{true}} />
    <OSS::Badge @icon="fas fa-box-open" @skin="error" />
    <OSS::Badge @icon="fas fa-box-open" @skin="error" @plain={{true}} />
  </div>

  <div class="fx-row fx-gap-px-10 fx-xalign-center">
    <OSS::Badge @text="2x" @size="lg" />
    <OSS::Badge @text="2x" />
    <OSS::Badge @text="2x" @size="sm" />
  </div>

  <div class="fx-row fx-gap-px-10 fx-xalign-center">
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
                @size="lg" />
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png" />
    <OSS::Badge @image="https://reachr-assets.s3.us-west-2.amazonaws.com/influencer-server/influencer/7219681.png"
                @size="sm" />
  </div>

  <div class="fx-row">
    <DestructiveButton @destructiveAction="destructiveAction" @record={{"model"}}
                       @ongoingMessage="ongoing"
                       @successMessage="success"
                       @failureMessage="failure'"
                       class="margin-right-xx-sm">
      Destructive button
    </DestructiveButton>
    <LoadingButton @slowAction="loadingAction" class="upf-btn upf-btn--primary"
                   @initiallyDisabled={{false}}>
      Loading button
    </LoadingButton>
  </div>
</div>
