<section class='col-xs-11 center-block icons'>
  <h2 class='col-xs-12'>SVG Icons</h2>
  <div class='col-xs-8 center-block'>
    <div class='row margin-top-md'>
      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'envelope'}}
          envelope
        </p>
      </div>

      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'envelope-open'}}
          envelope-open
        </p>
      </div>

      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'reply'}}
          reply
        </p>
      </div>
    </div>

    <div class='row margin-top-lg'>
      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'paper-plane'}}
          paper-plane
        </p>
      </div>

      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'clock'}}
          clock
        </p>
      </div>

      <div class='col-xs-4 icon'>
        <p class='text-center'>
          {{upf-icon 'exclamation-mark'}}
          exclamation-mark
        </p>
      </div>
    </div>
  </div>
</section>
