<div class="fx-col fx-gap-px-12 padding-px-18">
  <div class="page-title-container">
    <span class="font-size-h2 font-weight-semibold">Input</span>
    <span class="font-color-gray-500">Components used to gather user information</span>
    <span class="font-color-gray-500 font-size-xs text-style-italic">(including their mom's credit card info)</span>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <div class="fx-row fx-1 fx-gap-px-12">
        <OSS::Select @value={{null}} @items={{this.items}} @onChange={{this.onSelect}}>
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}}>
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}} @disabled={{true}}>
          <:option as |item|>
            {{item.name}}
          </:option>

        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.items}}
          @onChange={{this.onSelect}}
          @errorMessage="This is an error"
        >
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.items}}
          @onChange={{this.onSelect}}
          @successMessage="It works"
        >
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Infinite select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::InfiniteSelect
        @items={{this.items}}
        @searchEnabled={{true}}
        @onSearch={{this.onInfiniteSelectSearch}}
        @searchPlaceholder="Enter a keyword"
        @onSelect={{this.onInfiniteSelectChange}}
        style="position: relative; margin: 0"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Power select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PowerSelect
        @items={{null}}
        @selectedItems={{this.superHeroes}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{null}}
        @selectedItems={{this.superHeroes}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
        <:empty-state>
          Custom empty state
        </:empty-state>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{this.superHeroes}}
        @selectedItems={{null}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Array input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::ArrayInput
        @values={{this.superHeroes}}
        @onChange={{this.updateSuperHeroes}}
        class="fx-1"
        data-control-name="mailing-edit-template-ccs-input"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Input container
    </div>
    <div class="fx-col fx-gap-px-12 fx-malign-start">
      <div class="fx-row fx-gap-px-24">
        <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}}>
          <:prefix>
            <OSS::Icon @icon="fa-search" class="font-color-gray-500" />
          </:prefix>
          <:suffix>
            {{#if (gt this.shopUrl.length 0)}}
              <OSS::Icon
                @icon="fa-times"
                class="font-color-gray-500"
                role="button"
                {{on "click" (fn (mut this.shopUrl) "")}}
              />
            {{/if}}
          </:suffix>
        </OSS::InputContainer>
        <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}} />
        <OSS::InputContainer @placeholder="Error" @value={{this.shopUrl}} @errorMessage="This is an error message" />
      </div>
      <div class="fx-row fx-gap-px-24">
        <OSS::InputContainer
          @placeholder="Success !"
          @value={{this.shopUrl}}
          @feedbackMessage={{this.successFeedbackMessage}}
        />
        <OSS::InputContainer
          @placeholder="Warning !"
          @value={{this.shopUrl}}
          @feedbackMessage={{this.warningFeedbackMessage}}
        />
        <OSS::InputContainer
          @placeholder="Error !"
          @value={{this.shopUrl}}
          @feedbackMessage={{this.errorFeedbackMessage}}
        />
      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Input group
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::InputGroup @value={{this.inputValue}} @prefix="@" @placeholder="Username" />
      <OSS::InputGroup @value={{this.inputValue}} @suffix="@example.com" @placeholder="john.doe" />
      <OSS::InputGroup
        @value={{this.inputValue}}
        @prefix="This"
        @placeholder="makes no"
        @suffix="sense"
        @errorMessage="This is an error message"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Text area
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::TextArea @value={{this.textAreaValue}} @onChange={{this.handleTextAreaInput}} @rows={{6}} />
      <OSS::TextArea
        @value={{this.textAreaValue}}
        @onChange={{this.handleTextAreaInput}}
        @errorMessage="This is an error message"
        @rows={{5}}
        @resize="vertical"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Email input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::EmailInput @value={{this.emailInputValue}} @onChange={{this.onEmailInputChange}} />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Password input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PasswordInput @value={{this.password}} @validates={{this.onPasswordValidation}} />
      <OSS::PasswordInput @value="azeaze" />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      URL input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::UrlInput
        @value={{this.shopifyDomain}}
        @prefix="https://"
        @placeholder="shopname"
        @suffix=".myshopify.com"
        @errorMessage="Not a valid shopify domain"
        @validationRegex={{this.subdomainRegex}}
        @onChange={{this.onUrlInputChange}}
      />
      <OSS::UrlInput
        @prefix="https://"
        @placeholder="No regex specified"
        @onChange={{this.onUrlInputChange}}
        @value={{this.shopifyDomain}}
      />
      <OSS::UrlInput
        @value={{this.shopUrl}}
        @prefix="https://"
        @placeholder="shop url"
        @errorMessage="Please enter a valid URL"
        @validationRegex={{this.urlRegex}}
        @onChange={{this.onUrlInputChange}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Country selector
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <div class="fx-col fx-gap-px-5">
        <span>Country</span>
        <OSS::CountrySelector
          @value={{this.selectedCountry.id}}
          @sourceList={{this.countries}}
          @onChange={{this.onCountrySelected}}
        />
      </div>

      {{#if (gt this.selectedCountry.provinces.length 0)}}
        <div class="fx-col fx-gap-px-5">
          <span>Province</span>
          <OSS::CountrySelector
            @value={{this.selectedProvince.name}}
            @sourceList={{this.selectedCountry.provinces}}
            @onChange={{this.onProvinceSelected}}
          />
        </div>
      {{/if}}
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Number input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::NumberInput @value={{this.numberValue}} @onChange={{this.handleNumberInput}} />
      <OSS::NumberInput @min={{0}} @max={{15}} @step={{5}} @onChange={{this.handleNumberInput}} />
      <OSS::NumberInput
        @min={{0}}
        @max={{15}}
        @step={{5}}
        @minReachedTooltip="Hello"
        @maxReachedTooltip="you"
        @onChange={{this.handleNumberInput}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Phone number input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PhoneNumberInput
        @prefix={{this.phonePrefix}}
        @number={{this.phoneNumber}}
        @onChange={{this.onPhoneNumberChange}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Currency input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::CurrencyInput
        @currency={{this.currency}}
        @value={{this.currencyValue}}
        @onChange={{this.onCurrencyInputChange}}
        @disabled={{true}}
      />
      <OSS::CurrencyInput
        @currency={{this.currency}}
        @value={{this.currencyValue}}
        @onChange={{this.onCurrencyInputChange}}
        @errorMessage="This is an error message"
      />
      <OSS::CurrencyInput
        @currency={{this.currency}}
        @value={{this.currencyValue}}
        @allowCurrencyUpdate={{false}}
        @onChange={{this.onCurrencyInputChange}}
      />
      <OSS::CurrencyInput
        @currency={{this.currency}}
        @value={{this.currencyValue}}
        @onChange={{this.onCurrencyInputChange}}
        @allowedCurrencies={{this.allowedCurrencies}}
      />
      <OSS::CurrencyInput
        @currency={{this.currency}}
        @value={{this.currencyValue}}
        @onChange={{this.onCurrencyInputChange}}
        @onlyCurrency={{true}}
      />
      <OSS::CurrencyInput
        @currency={{this.currencyOnly}}
        @onChange={{this.onCurrencyOnlyChange}}
        @onlyCurrency={{true}}
        @allowedCurrencies={{this.allowedCurrencies}}
      />
    </div>
  </div>

</div>

{{!-- <div class="fx-col fx-gap-px-6 padding-px-18">
  <div class="fx-row fx-gap-px-6">
    <OSS::Button @label="Open modal" {{on "click" this.openModal}} />
    <OSS::Button @label="Open sidepanel" {{on "click" this.openSidePanel}} />
  </div>

{{#if this.displayModal}}
  <OSS::ModalDialog
    @title="Example modal"
    @subtitle="subtitle"
    @close={{this.closeModal}}
    @disableClickOutside={{false}}
    @size="md"
  >
    <:content>
      <OSS::ScrollablePanel style="height: 280px">
        <div class="fx-col fx-gap-px-6">
          {{#each this.loop}}
            <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}} />
          {{/each}}
        </div>
      </OSS::ScrollablePanel>
    </:content>
    <:footer>
      <div class="fx-1">
        <OSS::Icon @icon="fa-info" /><a href="">More info</a>
      </div>
      <div class="fx-row fx-gap-px-12">
        <OSS::Button @skin="default" @label="Close" {{on "click" this.closeModal}} />
        <OSS::Button @skin="secondary" @label="Save" />
      </div>
    </:footer>
  </OSS::ModalDialog>
{{/if}}

<OSS::SidePanel
  @onClose={{this.closeSidePanel}}
  @backdrop={{true}}
  @visible={{this.displaySidePanel}}
  @noPadding={{true}}
>
  <:header>
    <OSS::SidePanel::Header
      @onClose={{this.closeSidePanel}}
      @onReturn={{this.onReturn}}
      @title="This is the side panel's header."
    />
  </:header>
  <:main>
    <OSS::ScrollablePanel>
      <div class="fx-col fx-gap-px-6">
        {{#each this.loop}}
          <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}} />
        {{/each}}
      </div>
    </OSS::ScrollablePanel>
  </:main>
  <:footer>
    <span>This is the side panel's footer.</span>
  </:footer>
</OSS::SidePanel> --}}