<div class="fx-col fx-gap-px-12 padding-px-18">
  <div class="page-title-container">
    <span class="font-size-h2 font-weight-semibold">Input</span>
    <span class="font-color-gray-500">Components used to gather user information</span>
    <span class="font-color-gray-500 font-size-xs text-style-italic">(including their mom's credit card info)</span>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <div class="fx-row fx-1 fx-gap-px-12">
        <OSS::Select @value={{null}} @items={{this.items}} @onChange={{this.onSelect}}>
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}}>
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select @value={{this.selectedItem}} @items={{this.items}} @onChange={{this.onSelect}} @disabled={{true}}>
          <:option as |item|>
            {{item.name}}
          </:option>

        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.items}}
          @onChange={{this.onSelect}}
          @errorMessage="This is an error"
        >
          <:option as |item|>
            {{item.name}}
          </:option>
        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.superHeroes}}
          @onChange={{this.onSelect}}
          @onSearch={{this.onPowerSelectSearch}}
          @successMessage="It works"
          @action={{(hash
            skin="tertiary" label="Add Hero (close on click)" icon="fa-plus" onClick=this.onFooterButtonClick
          )}}
          class="fx-1"
        >
          <:option as |item|>
            {{item}}
          </:option>
        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.superHeroes}}
          @onChange={{this.onSelect}}
          @onSearch={{this.onPowerSelectSearch}}
          @successMessage="It works"
          class="fx-1"
        >
          <:option as |item|>
            {{item}}
          </:option>
        </OSS::Select>

        <OSS::Select
          @value={{this.selectedItem}}
          @items={{this.superHeroes}}
          @onChange={{this.onSelect}}
          @successMessage="It works"
          @action={{(hash
            skin="tertiary"
            label="Add Hero (don't close on click)"
            icon="fa-plus"
            onClick=this.onFooterButtonClick
            closeOnClick=false
          )}}
          class="fx-1"
        >
          <:option as |item|>
            {{item}}
          </:option>
        </OSS::Select>

      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Infinite select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::InfiniteSelect
        @items={{this.items}}
        @searchEnabled={{true}}
        @onSearch={{this.onInfiniteSelectSearch}}
        @searchPlaceholder="Enter a keyword"
        @onSelect={{this.onInfiniteSelectChange}}
        @action={{(hash skin="tertiary" label="Add Hero" icon="fa-plus" onClick=this.onFooterButtonClick)}}
        style="position: relative; margin: 0"
      />
      <OSS::InfiniteSelect
        @items={{this.superHeroes}}
        @searchEnabled={{true}}
        @onSearch={{this.onInfiniteSelectSearch}}
        @searchPlaceholder="Enter a keyword"
        @onSelect={{this.onInfiniteSelectChange}}
        style="position: relative; margin: 0"
      >
        <:option as |item|>
          {{item}}
        </:option>
      </OSS::InfiniteSelect>
      <OSS::InfiniteSelect
        @items={{this.superHeroes}}
        @searchEnabled={{true}}
        @onSearch={{this.onInfiniteSelectSearch}}
        @searchPlaceholder="Enter a keyword"
        @onSelect={{this.onInfiniteSelectChange}}
        @action={{(hash skin="tertiary" label="Add Hero" icon="fa-plus" onClick=this.onFooterButtonClick)}}
        style="position: relative; margin: 0"
      >
        <:option as |item|>
          {{item}}
        </:option>
      </OSS::InfiniteSelect>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Infinite select option
    </div>
    <div class="fx-col fx-gap-px-12">
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Single with custom prefix and suffix
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Prefix icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis dapibus sapien ut venenatis. Donec nec purus fringilla, eleifend enim ut, ultricies ex"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        >
          <:prefix>
            Prefix
          </:prefix>
          <:suffix>
            Suffix
          </:suffix>
        </OSS::InfiniteSelect::Option>
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Multiple
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selectionType="multiple"
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Mutliple selected
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selectionType="multiple"
          @selected={{true}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Single selected
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selectionType="single"
          @selected={{true}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Single disabled
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selectionType="single"
          @disabled={{true}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Multiple disabled
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selectionType="multiple"
          @disabled={{true}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
      <div class="fx-row fx-gap-px-6 fx-xalign-center">
        <div class="font-weight-semibold" style="width: 210px;">
          Multiple selected disabled
        </div>
        <OSS::InfiniteSelect::Option
          @prefixAvatar={{hash initials="JV" size="sm"}}
          @prefixBadge={{hash icon="far fa-thumbs-up" size="sm"}}
          @prefixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Icon tooltip" placement="top")}}
          @prefixCountry="FR"
          @title="Title"
          @subtitle="Subtitle"
          @icon={{hash icon="fa-info-circle" tooltip=(hash title="Icon tooltip" placement="top")}}
          @suffixHint="Hint"
          @suffixTag={{hash label="Tag" skin="primary" size="sm"}}
          @suffixIcon={{hash icon="fa-thumbs-up" tooltip=(hash title="Suffix icon tooltip" placement="top")}}
          @selected={{true}}
          @selectionType="multiple"
          @disabled={{true}}
          @onSelect={{this.onInfiniteSelectOptionChange}}
        />
      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Power select
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PowerSelect
        @items={{null}}
        @selectedItems={{this.superHeroes}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{null}}
        @selectedItems={{this.superHeroes}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
        <:empty-state>
          Custom empty state
        </:empty-state>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{this.superHeroes}}
        @selectedItems={{null}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PowerSelect
        @items={{this.superHeroes}}
        @selectedItems={{null}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
        @feedbackMessage={{hash type="error" value="error message"}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{this.superHeroes}}
        @selectedItems={{null}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
        @feedbackMessage={{hash type="success" value="sucess message"}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>

      <OSS::PowerSelect
        @items={{this.superHeroes}}
        @selectedItems={{null}}
        @onChange={{this.onPowerSelectChange}}
        @onSearch={{this.onPowerSelectSearch}}
        @feedbackMessage={{hash type="warning" value="warning message"}}
      >
        <:selected-item as |selectedProduct|>
          <OSS::Chip @label={{selectedProduct}} @onRemove={{this.onPowerSelectChange}} @maxDisplayWidth={{100}} />
        </:selected-item>
        <:option-item as |item|>
          {{item}}
        </:option-item>
      </OSS::PowerSelect>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Array input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::ArrayInput
        @values={{this.superHeroes}}
        @onChange={{this.updateSuperHeroes}}
        class="fx-1"
        data-control-name="mailing-edit-template-ccs-input"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Input container
    </div>
    <div class="fx-col fx-gap-px-12 fx-malign-start">
      <div class="fx-row fx-gap-px-24">
        <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}}>
          <:prefix>
            <OSS::Icon @icon="fa-search" class="font-color-gray-500" />
          </:prefix>
          <:suffix>
            {{#if (gt this.shopUrl.length 0)}}
              <OSS::Icon
                @icon="fa-times"
                class="font-color-gray-500"
                role="button"
                {{on "click" (fn (mut this.shopUrl) "")}}
              />
            {{/if}}
          </:suffix>
        </OSS::InputContainer>
        <OSS::InputContainer @placeholder="search" @value={{this.shopUrl}} />
        <OSS::InputContainer @placeholder="Error" @value={{this.shopUrl}} @errorMessage="This is an error message" />
      </div>
      <div class="fx-row fx-gap-px-24">
        <OSS::InputContainer
          @placeholder="Success !"
          @value={{this.shopUrl}}
          @feedbackMessage={{hash type="success" value="This is a success message !"}}
        />
        <OSS::InputContainer
          @placeholder="Warning !"
          @value={{this.shopUrl}}
          @feedbackMessage={{hash type="warning" value="This is an warning message !"}}
        />
        <OSS::InputContainer
          @placeholder="Error !"
          @value={{this.shopUrl}}
          @feedbackMessage={{hash type="error" value="This is also an error message !"}}
        />
      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Search Fields
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::SearchField @value={{this.searchFieldValue}} @onChange={{this.onSearchFieldChange}} />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Input group
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::InputGroup @value={{this.inputValue}} @prefix="@" @placeholder="Username" @autocomplete="off" />
      <OSS::InputGroup @value={{this.inputValue}} @suffix="@example.com" @placeholder="john.doe" />
      <OSS::InputGroup
        @value={{this.inputValue}}
        @prefix="This"
        @placeholder="makes no"
        @suffix="sense"
        @errorMessage="This is an error message"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Text area
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::TextArea @value={{this.textAreaValue}} @onChange={{this.handleTextAreaInput}} @rows={{6}} />
      <OSS::TextArea
        @value={{this.textAreaValue}}
        @onChange={{this.handleTextAreaInput}}
        @errorMessage="This is an error message"
        @rows={{5}}
        @resize="vertical"
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Email input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::EmailInput @value={{this.emailInputValue}} @onChange={{this.onEmailInputChange}} />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Password input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PasswordInput @value={{this.password}} @validates={{this.onPasswordValidation}} />
      <OSS::PasswordInput @value="azeaze" />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      URL input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::UrlInput
        @value={{this.shopifyDomain}}
        @prefix="https://"
        @placeholder="shopname"
        @suffix=".myshopify.com"
        @errorMessage="Not a valid shopify domain"
        @validationRegex={{this.subdomainRegex}}
        @onChange={{this.onUrlInputChange}}
      />
      <OSS::UrlInput
        @prefix="https://"
        @placeholder="No regex specified"
        @onChange={{this.onUrlInputChange}}
        @value={{this.shopifyDomain}}
      />
      <OSS::UrlInput
        @value={{this.shopUrl}}
        @prefix="https://"
        @placeholder="shop url"
        @errorMessage="Please enter a valid URL"
        @validationRegex={{this.urlRegex}}
        @onChange={{this.onUrlInputChange}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Country selector
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <div class="fx-col fx-1 fx-gap-px-5">
        <span>Country</span>
        <OSS::CountrySelector
          @value={{this.selectedCountry.id}}
          @sourceList={{this.countries}}
          @onChange={{this.onCountrySelected}}
        />
      </div>

      {{#if (gt this.selectedCountry.provinces.length 0)}}
        <div class="fx-col fx-1 fx-gap-px-5">
          <span>Province</span>
          <OSS::CountrySelector
            @value={{this.selectedProvince.name}}
            @sourceList={{this.selectedCountry.provinces}}
            @onChange={{this.onProvinceSelected}}
          />
        </div>
      {{/if}}

      <div class="fx-col fx-1 fx-gap-px-5">
        <span>Country with error</span>
        <OSS::CountrySelector
          @value={{this.selectedCountry.id}}
          @sourceList={{this.countries}}
          @onChange={{this.onCountrySelected}}
          @feedbackMessage={{hash type="error" value="This is an error message"}}
        />
      </div>

      {{#if (gt this.selectedCountry.provinces.length 0)}}
        <div class="fx-col fx-1 fx-gap-px-5">
          <span>Province with error</span>
          <OSS::CountrySelector
            @value={{this.selectedProvince.name}}
            @sourceList={{this.selectedCountry.provinces}}
            @onChange={{this.onProvinceSelected}}
            @feedbackMessage={{hash type="error"}}
          />
        </div>
      {{/if}}
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Number input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::NumberInput @value={{this.numberValue}} @onChange={{this.handleNumberInput}} />
      <OSS::NumberInput @min={{0}} @max={{15}} @step={{5}} @onChange={{this.handleNumberInput}} />
      <OSS::NumberInput
        @min={{0}}
        @max={{15}}
        @step={{5}}
        @minReachedTooltip="Hello"
        @maxReachedTooltip="you"
        @onChange={{this.handleNumberInput}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Phone number input
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PhoneNumberInput
        @prefix={{this.phonePrefix}}
        @number={{this.phoneNumber}}
        @onChange={{this.onPhoneNumberChange}}
      />
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PhoneNumberInput
        @prefix={{this.phonePrefix}}
        @number={{this.phoneNumber}}
        @onChange={{this.onPhoneNumberChange}}
        @errorMessage="This is an error message"
      />
    </div>
    <div class="fx-row fx-gap-px-24 fx-xalign-start">
      <OSS::PhoneNumberInput
        @prefix={{this.phonePrefix}}
        @number={{this.phoneNumber}}
        @onChange={{this.onPhoneNumberChange}}
        @errorMessage=""
        @hasError={{true}}
      />
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">
      Currency input
    </div>
    <div class="fx-col fx-gap-px-24">
      <div class="fx-row fx-gap-px-24 fx-xalign-start">
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @disabled={{true}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @errorMessage="This is an error message"
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @allowCurrencyUpdate={{false}}
          @onChange={{this.onCurrencyInputChange}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @allowedCurrencies={{this.allowedCurrencies}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @onlyCurrency={{true}}
        />
        <OSS::CurrencyInput
          @currency={{this.currencyOnly}}
          @onChange={{this.onCurrencyOnlyChange}}
          @onlyCurrency={{true}}
          @allowedCurrencies={{this.allowedCurrencies}}
        />
      </div>
      <div class="fx-row fx-gap-px-24 fx-xalign-start">
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @feedbackMessage={{hash type="success" value="This is a success feedback message !"}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @feedbackMessage={{hash type="warning" value="This is a warning feedback message !"}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @feedbackMessage={{hash type="error" value="This is a error feedback message !"}}
        />
      </div>
      <div class="fx-row fx-gap-px-24 fx-xalign-start">
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @onlyCurrency={{true}}
          @feedbackMessage={{hash type="success" value="This is a success feedback message for currency only !"}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @onlyCurrency={{true}}
          @feedbackMessage={{hash type="warning" value="This is a warning feedback message for currency only !"}}
        />
        <OSS::CurrencyInput
          @currency={{this.currency}}
          @value={{this.currencyValue}}
          @onChange={{this.onCurrencyInputChange}}
          @onlyCurrency={{true}}
          @feedbackMessage={{hash type="error" value="This is a error feedback message for currency only !"}}
        />
      </div>
    </div>
  </div>

  <div
    class="fx-col fx-1 background-color-white border border-color-default border-radius-md padding-px-12 fx-gap-px-12"
  >
    <div class="font-size-md font-weight-semibold">Form</div>
    <OSS::Form @onSetup={{this.onFormSetup}} @onSubmit={{this.onFormSubmit}}>
      <:content>
        <div class="fx-col fx-gap-px-6">
          <span class="oss-label" {{required-input}}>This is a required form field</span>
          <OSS::InputContainer
            @value={{this.formFieldValue}}
            @placeholder="Form field placeholder"
            @feedbackMessage={{form-field-feedback this.formInstance.id "form-field"}}
            {{register-form-field
              form=this.formInstance.id
              fieldId="form-field"
              validator=this.validateFormField
              validateOnBlur=true
            }}
          />
        </div>
      </:content>
    </OSS::Form>
    <OSS::Button @skin="primary" @label="Submit" type="submit" form={{this.formInstance.id}} />
  </div>
</div>