<div class="oss-attribute"
     {{on "mouseenter" (fn (mut this.displayCopyBtn) true)}}
     {{on "mouseleave" (fn (mut this.displayCopyBtn) false)}}
     ...attributes>
  {{#if (has-block "label")}}
    <div class="oss-attribute__label">{{yield to="label"}}</div>
  {{/if}}
  {{#if (has-block "value")}}
    <div class="oss-attribute__value">{{yield to="value"}}</div>
  {{else}}
    <span class="oss-attribute__value">
      {{@value}}
    </span>
  {{/if}}
  {{#if (and this.displayCopyBtn this.isCopyable)}}
    <div class="oss-attribute__copy">
      <OSS::Copy @value={{@value}} @inline={{true}} />
    </div>
  {{/if}}
</div>
